<template>
  <div>
    <q-btn
      color="secondary"
      text-color="primary"
      icon="check"
      label="Create Exclussive Session"
      class="q-my-sm"
      @click="open = true"
    />

    <q-dialog v-model="open">
      <q-card>
        <q-card-section class="q-py-sm row">
          <div class="text-h6 text-positive">Create Exclussive Session</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-separator />
        <q-card-section class="row bg-secondary">
          <q-input
            dense
            round
            dark
            outlined
            v-model="form.name"
            label="Exclussive Session Name"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
            lazy-rules
            :rules="[ textRule, textLengthRule ]"
          />
          <q-input
            dense
            round
            dark
            outlined
            v-model="form.number_of_users"
            label="Number of Users"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
            lazy-rules
            :rules="[ textRule ]"
          />
          <q-input
            dense
            round
            dark
            outlined
            v-model="form.USD"
            type="number"
            prefix="$"
            step="10"
            min="0"
            hint="Price(in USD)"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />
          <q-input
            dense
            round
            dark
            outlined
            v-model="form.local"
            type="number"
            prefix="₦"
            step="100"
            min="0"
            hint="Price(in NGN)"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />

          <q-input
            type="date"
            dense
            round
            dark
            outlined
            v-model="form.start_date"
            label="Start Date"
            :rules="['form.start_date']"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />

          <q-input
            type="date"
            dense
            round
            dark
            outlined
            v-model="form.end_date"
            label="Start Date"
            :rules="['form.end_date']"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />

          <q-input
            dense
            round
            dark
            outlined
            v-model="form.description"
            type="textarea"
            autogrow
            label="Description"
            class="full-width"
          />
        </q-card-section>

        <q-card-section class="q-my-sm">
          <q-btn
            text-color="secondary"
            color="primary"
            @click="save()"
            icon="check"
            label="Create Exclussive Session"
            class="q-my-sm"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { authRuleMixin } from "components/mixins/rulesMixins";
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [authRuleMixin, requestMixin],
  data() {
    return {
      open: false,
      date: "2019/02/01",

      form: {
        name: "",
        description: "",
        number_of_users: "",
        USD: "",
        local: "",
        currency_symbol_dollar: "$",
        currency_symbol_local: "₦",
        currency_local: "NGN",
        currency_dollar: "USD",
        start_date: "",
        end_date: ""
      }
    };
  },

  methods: {
    async save() {
      const endPoint = "/api/exclusive_session";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      // this.subscriptions = data.data
    }
  }
};
</script>

<style>
</style>
