<template>
  <div>
    <q-card class="my-card">
      <q-list bordered v-for="(item, index) in items" :key="index">
        
        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-avatar size="50px">
              <img :src="item.img" size="100px" alt="">
            </q-avatar>
          </q-item-section>
          <q-item-section>
            {{item.name}}
            <div class="lt-md text-left">
              <q-btn dense size="sm" class="lt-md text-left" align="left" color="white" text-color="black" flat no-caps :label="'#' + item.event"/>
               <!-- <div><span class="text-primary text-bold">#</span> {{item.event}}</div>
              </q-btn> -->
            </div> 
            
          </q-item-section>
          <q-item-section class="gt-sm">
            <div >
              <q-btn color="white" text-color="black" flat no-caps>
               <div><span class="text-primary text-bold">#</span> {{item.event}}</div>
              </q-btn>
            </div> 
          </q-item-section>
          <q-item-section class="gt-sm">₦{{item.price}}</q-item-section>
          <q-item-section side >
            <div class="lt-md text-black">₦{{item.price}}</div>
            <q-btn class="lt-md" size="xs" dense color="primary" text-color="secondary" icon="check" :label="item.subscribers + ' Subscribers'" :to="{name : 'subscribers'}"/>
            <q-btn class="gt-sm" color="primary" text-color="secondary" icon="check" :label="item.subscribers + ' Subscribers'" :to="{name : 'subscribers'}"/>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>
    
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      items:[
        {img: 'statics/image/isah.png', name: 'Simon Musa', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
        {img: 'statics/image/isah.png', name: 'Simon Moses', event: 'Empowerment', price: 1000, subscribers: 30 },
      ]
    }
  }
}
</script>

<style>
</style>
