<template>
  <div>
    <q-card square>
      <q-card-section class="row flex-center">
        <div class="row flex-center q-gutter-sm">
          <q-avatar size="100px">
            <q-img src="statics/image/isah.png" />
          </q-avatar>

          <div class="q-pl-sm">
            <div class="text-h6 text-primary">{{ profile.name }}</div>
            <div>Batch</div>
            <div>2 Batches</div>
          </div>
        </div>
        <q-space />
        <div class="row q-gutter-xs">
          <follow
            v-if="user_id !== profile.id"
            :id="profile.id"
            :followed="profile.followed_count ? true : false"
          />
          <subscribe :profile="profile" />
          <!-- <q-btn color="primary" label="subscribe" /> -->
          <q-btn color="primary" label="edit" />
        </div>
      </q-card-section>

      <q-separator />
      <q-separator />

      <q-card-section>
        <stats :profile="profile" />
      </q-card-section>

      <q-separator />
      <q-separator />

      <q-card-section class="flex flex-center q-gutter-x-md">
        <q-btn color="primary" no-caps outline label="Followers" :to="{name: 'follower', params:{name: profile.slug}}" />
        <q-btn color="primary" no-caps outline label="Following" :to="{name: 'following', params:{name: profile.slug}}" />
      </q-card-section>

      <q-separator />
      <q-separator />

      <education :owned="user_id == profile.id ? true : false" />

      <q-separator />
      <q-separator />

      <work :owned="user_id == profile.id ? true : false" />

      <q-separator />
      <q-separator />
    </q-card>
  </div>
</template>

<script>
import follow from "components/common/follow";
import subscribe from "components/common/subscribe";
import stats from "./partials/stats";
import education from "./partials/education";
import work from "./partials/work";
import interest from "./partials/interest";
import followers from "./partials/followers";
import following from "./partials/following";
import avatar from "components/common/avatar";
export default {
  // name: 'PageName',
  props: ["profile"],
  components: {
    follow,
    stats,
    education,
    work,
    interest,
    followers,
    following,
    avatar,
    subscribe
  },

  computed: {
    user_id() {
      return this.$store.getters["auth/user"].id;
    }
  }
};
</script>
