<template>
  <div>
    <div class="">
      
      <q-card class="q-pa-none">

        <q-card-section class="q-pa-none ">
          <q-bar class="bg-secondary text-primary q-pl-none text-h6">
            <q-btn no-caps size="md" class="text-h6 q-px-none" flat text-color="white" color="primary" icon="chevron_left" v-close-popup :to="{name: 'profile'}"/>
            <div>{{$route.name}}</div>
          </q-bar>
        </q-card-section>
        <q-card-section class="full-width">
          <mentees :follows="follows"/>
          
        </q-card-section>
        <q-separator/>
          
      </q-card>
    </div> 
  </div>
    
    
</template>

<script>
import mentees from './partials/mentees'


export default {
  // name: 'ComponentName',
  props: ['follows'],
  components:{
    mentees
  },
  data () {
    return {
      tab: 'mentees',
    }
  },
  
}
</script>

<style>
</style>
