<template>
  <div>
    <q-btn flat label="Quick Note For Mentees" color="primary" @click="open = true" />

    <q-dialog square v-model="open">
      <q-card>
        <q-card-section class="row items-center">
          <div class="text-h6"> Quick Notes for Mentees</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
           <p>
              There are two ways to learn anything: Go to school and learn theories OR 
              find a mentor who’s been there and done that, and avoid all the potholes.
          </p>
          <p>
          <b>
              Here are a few Points to jumpstart your 5minutes experience:
          </b>
          </p>

          <ul>
          <li>Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents</li>
          <li>Mentors share FREE and PREMIUM Contents</li>
          <li>Subscription fee for any mentor is $3/month OR N1000/month. Annual subscription discounts 1month) – Pay Attention!</li>
          <li>You can ONLY view FREE Contents for any mentor you’re following if you have not subscribed to them</li>
          <li>PREMIUM Contents are the Real Deal and are usually in series</li>
          <li>Text articles are no more than 230 words</li>
          <li>Video Contents are no more than 2minutes, 30seconds </li>
          <li>After Thoughts are posted after each Main Article</li>
          <li>You can partake in Exclusive Sessions organized by mentors (rates differ)</li>
          <li>You can have Forum Discussions, Chats and Messages</li>
          <li>You can Like posts, Bookmark or Report Abusive Posts</li>
          <li>You can Become a Referrer too and refer mentors which earns you 5% of their monthly accumulated subscriptions for the next 12months</li>
          <li>There’s so much more you can do on 5minutes</li> 
          </ul>

          <p>Okay, let’s go get your profile set up and start your transformation process to Becoming Better.</p>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      open: false
    }
  }
}
</script>

<style>
</style>
