<template>
  <div>
    <q-btn flat label="Quick Note For Mentees" color="primary" @click="open = true" />

    <q-dialog square v-model="open">
      <q-card>
        <q-card-section class="row items-center">
          <div class="text-h6"> Quick Notes for Mentor</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
           <p>
                We are excited to have you join us on our mission to improve Global 
                Learning Experience through Straight-to-the-Point mentoring in 
                this era of information rush and fast rising ADD.
            </p>
            
            <p>
            <b>
                Remember that you can do the following and more on 5minutes:
            </b>
            </p>

            <ul>

            <li>Mentors are required to have <b>1000+ ACTIVE followers</b> on at least one of their social media handle where they share contents related to selected Tnterests.</li>
            <li>Share FREE or PREMIUM contents (Premium Contents mainly in short series selling a single idea)
                Mentees pay for Premium Contents at $3/month OR N1000/month (Annual subscription discounts 1month) 
                FREE Contents are seen by everyone (Subscribed or unsubscribed)
            </li>
            <li>Share articles weekly <br>Text articles can only be 230 words maximum <br> Video Contents can only be 2minutes, 30seconds </li>
            <li>You can post After Thoughts after each Main Article</li>
            <li>Build your Mentee Database by Inviting Mentees to follow you on www.5minutes.one OR download 5minutes app on Google Playstore or Apple Store</li>
            <li>You can organize Exclusive Sessions for selected mentees (you set the fee)</li>
            <li>You can have Forum Discussions, Chats and Messages</li>
            <li>You can sell your Books</li>
            <li>You can Plan Events and Send Invites to all mentees in specific Areas of interest</li>
            <li>You can Manage Mentees in selected  groups and send Targeted Messages </li>
            <li>You can Setup/View Account Balance and Reports on 5minutes as well as make withdrawals</li>
            <li>You can Become a Referrer too and refer other mentors which earns you 5% of their monthly accumulated subscriptions for the next 12months</li>
            <li>There’s so much more you can do on 5minutes</li>
            </ul>

            <p>Okay, let’s go get your profile set up, after which you can invite your mentees to follow you on 5minutes.</p>
            <p>Wait… wait! Just in case you don’t need the accumulated subscriptions. Well… 
            you can fill in the details of a charity organization or any approved 
            organization and let us know how you want monies moved.
            </p>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      open: false
    }
  }
}
</script>

<style>
</style>
