<template>
  <div>
    <q-item>
      <q-item-section avatar>
        <q-btn
          color="secondary"
          text-color="primary"
          rounded
          icon="ion-ios-arrow-back"
          :to="{name: 'transaction'}"
        />
      </q-item-section>
      <q-item-section>
        <q-item-label>Payment Invoice</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-markup-table separator="vertical" bordered>
      <thead>
        <tr>
          <th class="text-left">Subscribe To</th>
          <th class="text-center">Subscription</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Status</th>
          <th class="text-center">Due Date</th>
          <th class="text-center">Date</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody v-for="invoice in invoices" :key="invoice.id">
        <tr class="text-secondary">
          <td class="text-left">{{ invoice.subscribe_to_user.name }}</td>
          <td class="text-center">{{ invoice.subscription_type.name }}</td>
          <td class="text-center">{{ invoice.currency_symbol }}{{ invoice.amount }}</td>
          <td class="text-center">
            <q-badge
              :color="invoice.status == 1 ? 'primary' : 'negative' "
              :label="invoice.status == 1 ? 'Paid' : 'Unpaid'"
            />
          </td>
          <td class="text-center">{{ invoice.due_date }}</td>
          <td class="text-right">{{ invoice.created_at }}</td>
          <td class="text-right">
            <q-btn
              :color="invoice.status == 1 ? 'primary' : 'negative'"
              size="sm"
              :to="{name: 'invoice', params: {invoice_number: invoice.invoice_number}}"
              :label="invoice.status == 1 ? 'View' : 'Pay'"
            />
          </td>
        </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  mixins: [requestMixin],

  data() {
    return {
      invoices: null
    };
  },

  mounted() {
    this.getInvoices();
  },

  methods: {
    async getInvoices() {
      const endPoint = "/api/invoice";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.invoices = data.data;
    }
  }
};
</script>

<style>
</style>
