<template>
  <div>
    <q-card square class="q-px-none full-width" style="min-width: 300px">
      <q-card-section class="text-center q-pb-none">
        <q-item>
          <q-item-section avatar>
            <q-avatar size="70px">
              <q-img src="statics/app-logo-128x128.png" />
            </q-avatar>
          </q-item-section>
          <q-item-section class="text-left">
            <q-item-label>Minutes</q-item-label>
          </q-item-section>
          <q-item-section side top>
            <q-item-label>Payment Invoice</q-item-label>
            <q-item-label caption class="text-iterlic">(Mentee Subscription)</q-item-label>
            <q-item-label class="text-bold">
              Status:
              <q-badge
                :color="invoice.status == 1 ? 'primary' : 'negative' "
                :label="invoice.status == 1 ? 'Paid' : 'Unpaid' "
              />
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>

      <q-card-section class="q-py-none">
        <div class="text-h6">Invoice ID: {{ invoice.invoice_number }}</div>
        <div class="text-caption">Date: {{ invoice.created_at }}</div>
      </q-card-section>

      <q-card-section class="text-center fit q-px-none q-pb-none">
        <q-item dark class="bg-secondary">
          <q-item-section class="col-md-8 text-left">
            <q-item-label>Description</q-item-label>
          </q-item-section>
          <q-separator spaced vertical dark />
          <q-item-section class="col-md-4 text-left">
            <q-item-label>Total</q-item-label>
          </q-item-section>
        </q-item>

        <q-list bordered class="full-width">
          <q-item>
            <q-item-section class="col-md-8 text-left">
              <q-item-label>{{ invoice.type }}</q-item-label>
            </q-item-section>
            <q-separator spaced vertical />
            <q-item-section class="col-md-4 text-left">
              <q-item-label>{{ invoice.currency_symbol }}{{ invoice.amount }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <q-list bordered class="full-width">
          <q-item>
            <q-item-section class="col-md-8 text-left">
              <q-item-label>Tax/Service Charge</q-item-label>
            </q-item-section>
            <q-separator spaced vertical />
            <q-item-section class="col-md-4 text-left">
              <q-item-label>{{ invoice.currency_symbol }}{{ invoice.charges }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <q-list bordered class="full-width">
          <q-item>
            <q-item-section class="col-md-8 text-left">
              <q-item-label>SubTotal</q-item-label>
            </q-item-section>
            <q-separator spaced vertical />
            <q-item-section class="col-md-4 text-left">
              <q-item-label>{{ invoice.currency_symbol }}{{ Number(invoice.charges) + Number(invoice.amount) }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>

        <q-item class="q-pa-none">
          <q-item-section class="col-md-8 text-left q-pa-none">
            <q-item class="q-py-none q-my-none">
              <q-item-section class="col-md-4 text-center">
                <creditCard
                  v-if="invoice && invoice.status !== 1"
                  :total="Number(invoice.amount) + Number(invoice.charges)"
                  :currency_symbol="invoice.currency_symbol"
                />
              </q-item-section>
              <q-item-section class="col-md-8 text-right q-pr-xs">
                <q-item-label class="text-bold">Total</q-item-label>
              </q-item-section>
            </q-item>
          </q-item-section>
          <q-item-section class="col-md-4 text-left bg-secondary q-pl-xs text-white">
            <q-item-label
              class="text-bold"
            >{{ invoice.currency_symbol }}{{Number(invoice.amount) + Number(invoice.charges)}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import creditCard from "components/payment/creditCard";
import { requestMixin } from "../mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],

  data() {
    return {
      invoice: null,
      contents: [
        { Description: "Classic Mentoring Subscription", Total: 11000 },
        { Description: "Tax/Service Charge", Total: 265 },
        { Description: "SubTotal", Total: 11000 }
      ]
    };
  },

  components: {
    creditCard
  },

  mounted() {
    this.getInvoice();
  },

  methods: {
    async getInvoice() {
      const endPoint = "/api/invoice/";
      const res = await this.showRequest(
        endPoint,
        this.$route.params.invoice_number.substr(1)
      );
      const data = res.data;
      this.invoice = data.data;
    }
  }
};
</script>

<style>
</style>
