<template>
  <div class="row">

    <div class="gt-sm col-4 q-px-xs">
      <profile />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 q-px-xs">
        <about :profile="profile_info" />
    </div>
  </div>
</template>

<script>
import about from './partials/about/index'
import profile from './partials/left'

// import mentors from './partials/follow/mentors'

import { requestMixin } from "../mixins/ajaxMixins";
export default {
  // name: 'PageName',
  mixins: [requestMixin],

  data() {
    return {
      profile_info: ''
    }
  },

  components:{
    profile,about
  },

  computed: {
    route: function(){ return this.$route.name }
  },

  mounted() {
    this.getUserProfileDetails()
  },

  methods: {
    async getUserProfileDetails(){
        const endPoint = '/api/users/'
        const res = await this.showRequest(endPoint,this.$route.params.slug)
        const data = res.data
        this.profile_info = data.data
    }
  },
}
</script>

<style>
</style>
