<template>
  <div>
    <q-item>
      <q-item-section avatar >
        <q-btn color="secondary" text-color="primary" rounded  icon="ion-ios-arrow-back" :to="{name: 'transaction'}"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Subscribers</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-markup-table separator="vertical" bordered>
      <thead>
          <tr>
              <th class="text-left">Subscriber</th>
              <th class="text-right">Subscription</th>
              <th class="text-right">Status</th>
              <th class="text-right">Start Date</th>
              <th class="text-right">End Date</th>
          </tr>
      </thead>
      <tbody v-for="(subcriber) in subcribers" :key="subcriber.id">
        <tr class="text-secondary">
          <td class="text-left">{{subcriber.user.name}}</td>
          <td class="text-right">{{subcriber.subscription_type.name}}</td>
          <td class="text-right">
            <q-badge color="primary" label="Active" />
          </td>
          <td class="text-right">{{subcriber.start}}</td>
          <td class="text-right">{{subcriber.end}}</td>
        </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
    mixins: [requestMixin],

    data() {
        return {
            subcribers: null
        }
    },

    mounted() {
        this.getSubscribers();
    },

    methods: {
        async getSubscribers(){
            const endPoint = '/api/subscription/'
            const res = await this.showRequest(endPoint, 'suscribers')
            const data = res.data
            this.subcribers = data.data
        }
    },
}
</script>
