<template>
  <div>
    <q-item >
      <q-item-section avatar >
        <q-btn color="secondary" text-color="primary" rounded  icon="ion-ios-arrow-back" :to="{name: 'transaction'}"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Subscriptions</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-markup-table separator="vertical" bordered>
      <thead>
          <tr>
              <th class="text-left">Subscribed To</th>
              <th class="text-right">Subscription</th>
              <th class="text-right">Status</th>
              <th class="text-right">Start Date</th>
              <th class="text-right">End Date</th>
          </tr>
      </thead>
      <tbody v-for="(suscription) in suscriptions" :key="suscription.id">
        <tr class="text-secondary">
          <td class="text-left">{{suscription.mentor.name}}</td>
          <td class="text-right">{{suscription.subscription_type.name}}</td>
          <td class="text-right">
            <q-badge color="primary" label="Active" />
          </td>
          <td class="text-right">{{suscription.start}}</td>
          <td class="text-right">{{suscription.end}}</td>
        </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
    mixins: [requestMixin],

    data() {
        return {
            suscriptions: null
        }
    },

    mounted() {
        this.getSubcriptions();
    },

    methods: {
        async getSubcriptions(){
            const endPoint = '/api/subscription/'
            const res = await this.showRequest(endPoint, 'suscriptions')
            const data = res.data            
            this.suscriptions = data.data
        }
    },
}
</script>

<style>
</style>
