<template>
  <div class="row ">

    <div class="gt-sm col-3 q-px-sm">
      <leftContent :user="user"/>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      {{tasks}}
      <content1 :user="user" :tasks="tasks" @tab_changer="tab.push($event)"  @tab_changer2="tab2=$event"/>
      <!-- Mentees Scripts -->
      <contentMentor :user="user" :result="tab" :Question="tab2"/>
    </div>

    <div class="gt-sm col-3 q-px-sm">
      <highlights @task_creator="tasks.push($event)"/>
    </div>
  </div>
</template>

<script>
import content1 from './partials/content'
import contentMentor from './partials/contentMentor'
import highlights from './partials/highlights'
import leftContent from '../profile/partials/left';
export default {
  // name: 'ComponentName',
  data () {
    return {
      tab: [],
      tab2:null,
      tasks: [],
    }
  },

  components: {
    content1,
    leftContent,
    highlights,
    contentMentor
  },

  computed: {
    user: function(){ return this.$store.getters['auth/user'] }
  },
}
</script>

<style>
</style>
