<template>
  <div>
    <createExclusiveSession />

    <q-bar class="bg-white q-pl-none text-h6">
      <q-btn
        no-caps
        size="md"
        class="text-black text-h6 q-px-none"
        flat
        text-color="white"
        color="primary"
        icon="chevron_left"
        label="Feed"
        :to="{name : 'feed'}"
      />
    </q-bar>

    <q-separator />

    <q-card square class="my-card">
      <q-list bordered v-for="(exclusive_session, index) in exclusive_sessions" :key="index">
        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-avatar size="50px">
              <img :src="'statics/image/isah.png'" size="100px" />
            </q-avatar>
          </q-item-section>
          <q-item-section>
            {{exclusive_session.user.name}}
            <div class="lt-md text-left">
              <q-btn
                dense
                size="sm"
                class="lt-md text-left"
                align="left"
                color="white"
                text-color="black"
                flat
                no-caps
                :label="'#' + exclusive_session.name"
              />
            </div>
          </q-item-section>
          <q-item-section class="gt-sm">
            <div>
              <q-btn color="white" text-color="black" flat no-caps>
                <div>
                  <span class="text-primary text-bold">#</span>
                  {{exclusive_session.name}}
                </div>
              </q-btn>
            </div>
          </q-item-section>
          <q-item-section class="gt-sm">₦{{exclusive_session.exclusive_session_pricing[1].amount}}</q-item-section>
          <q-item-section side>
            <div class="lt-md text-black">₦{{exclusive_session.exclusive_session_pricing[1].amount}}</div>
            <q-btn
              class="lt-md"
              size="xs"
              dense
              color="primary"
              text-color="secondary"
              icon="check"
              :label="'5' + ' Subscribers'"
              :to="{name : 'subscribers'}"
            />
            <q-btn
              class="gt-sm"
              color="primary"
              text-color="secondary"
              icon="check"
              :label="'5' + ' Subscribers'"
              :to="{name : 'subscribers'}"
            />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>
  </div>
</template>

<script>
import createExclusiveSession from "./partials/createEx";
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      exclusive_sessions: null
    };
  },

  components: {
    createExclusiveSession
  },

  mounted() {
    this.getExclusiveSession();
  },

  methods: {
    async getExclusiveSession() {
      const endPoint = "/api/exclusive_session";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.exclusive_sessions = data.data;
    }
  }
};
</script>

<style>
</style>
