<template>
  <div class="row">
    <div class="gt-sm col-3 q-px-sm">
      <leftContent />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <inputUpdate :user="user" />

      <div v-for="(post, index) in posts" :key="post.id">
        <articleCard
          v-if="post.content_type ==	'article'"
          :post="post"
          :post_index="index"
          class="q-my-xs"
        />

        <motivationCard
          v-else-if="post.content_type ==	'motivation'"
          :post="post"
          :post_index="index"
          class="q-my-xs"
        />
      </div>
    </div>

    <div class="gt-sm col-3 q-px-sm">
      <rightContent />
    </div>
  </div>
</template>

<script>
import inputUpdate from "components/common/motivation";
import leftContent from "components/profile/partials/left";
import rightContent from "components/tasks/partials/highlights";
import articleCard from "components/cards/articleCard";
import motivationCard from "components/cards/motivationCard";
export default {
  // name: 'ComponentName',
  data() {
    return {};
  },

  components: {
    inputUpdate,
    leftContent,
    rightContent,
    articleCard,
    motivationCard
  },

  computed: {
    user: function() {
      return this.$store.getters["auth/user"];
    },

    posts() {
      return this.$store.getters["post/posts"];
    }
  }
};
</script>

<style>
</style>
