<template>
  <q-card square>
    <q-card-section class="text-center bg-secondary">
      <q-avatar size="100px" style="margin-bottom: -50px">
        <q-img src="statics/image/isah.png" />
      </q-avatar>
    </q-card-section>
    <q-card-section class="text-center q-mt-xl">
      <div>
        <div class="text-h6 text-primary">{{user.name}}</div>
        <div>{{user.status}}</div>
        <div>{{user.email}}</div>
        <!-- <div>2 Batches</div> -->
      </div>
    </q-card-section>

    <q-separator />
    <q-separator />

    <q-card-section>
      <div class="text-left column">
        <div>Like: {{ user.likes_count}}</div>
        <div>Post: {{ user.posts_count}}</div>
        <div>Followers: {{ user.followers_count}}</div>
        <div>Following: {{ user.following_count}}</div>
      </div>
    </q-card-section>

    <q-separator />
    <q-separator />

    <q-card-section class="text-center">
      <div>Explore 5minutes</div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  // name: 'PageName',
  computed: {
    user: function() {
      return this.$store.getters["auth/user"];
    }
  }
};
</script>

<style>
</style>
