<template>
  <q-card square>
    <!-- Feed Header -->
    <cardHeader :post="post" :post_index="post_index" />
    <q-separator />

    <!-- Content -->
    <q-card-section class="q-px-none q-pt-none">
      <q-media-player
        v-if="post.media"
        type="video"
        :source="s3+'/post-files/'+post.id+'/'+post.media"
      />
      <q-img v-else src="statics/image/post.jpg" style="max-height: 300px;" />
    </q-card-section>
    <q-card-section>
      <q-btn
        color
        class="q-pl-none"
        flat
        no-caps
        align="left"
        :to="{name: 'singleFeed', params:{post:post}}"
      >
        <div class="text-h5">{{ post.title }}</div>
      </q-btn>
      <!-- <div class="text-h5 text-weight-bold">{{ post.title }}</div> -->
      <div class="text-caption text-justify">{{ post.content }}</div>
    </q-card-section>

    <!-- Feed footer -->
    <q-card-section class="q-pb-none text-primary">
      <div class="text-caption">{{ post.created_at }} minutes | {{ '5' }} After Thoughts</div>
    </q-card-section>

    <q-separator />

    <cardFooter :post="post" />
  </q-card>
</template>

<script>
import cardHeader from "./partials/cardHeader";
import cardFooter from "./partials/cardFooter";
export default {
  props: ["post", "post_index"],
  // name: 'ComponentName',
  data() {
    return {
      s3: process.env.s3,
      showComment: false
    };
  },

  components: {
    cardHeader,
    cardFooter
  },

  computed: {
    route: function() {
      return this.$route.name;
    }
  }
};
</script>
