<template>
  <q-card square>
    <!-- Feed Header -->
    <cardHeader :post="post" :post_index="post_index" />
    <q-separator />

    <!-- Content -->

    <q-card-section>
      <div class="text-h4 text-center">{{ post.content }}</div>
    </q-card-section>

    <!-- Feed footer -->
    <!-- <q-card-section class="q-pb-none text-primary">
      <div class="text-caption">{{ post.created_at }} minutes | {{ '5' }} After Thoughts</div>
    </q-card-section>-->

    <q-separator />

    <cardFooter :post="post" />
  </q-card>
</template>

<script>
import avatar from "components/common/avatar";
import follow from "components/common/follow";
import cardMenu from "components/common/cardMenu";
import cardHeader from "./partials/cardHeader";
import cardFooter from "./partials/cardFooter";
export default {
  props: ["post", "post_index"],
  // name: 'ComponentName',
  data() {
    return {
      showComment: false
    };
  },

  components: {
    avatar,
    follow,
    cardMenu,
    cardHeader,
    cardFooter
  }
};
</script>
