<template>
  <div class="bg-primary text-white text-center q-py-md" v-if="$route.name == 'index'">
    <div>
      <q-btn no-caps flat label="Terms & Conditions" />|
      <q-btn no-caps flat label="Privacy Policy" />
    </div>
    <div>Copyright 2019 (c) 5minutes Inc</div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {};
  }
};
</script>
