<template>
    <div>
      <q-select outlined value="" bg-color="white" placeholder="search articles users .." dense hide-dropdown-icon
        use-input hide-selected fill-input
        input-debounce="0" :options="[{}]"
        label="Search" class="gt-xs" style="min-width: 350px"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section>
              No results
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      <q-btn flat dense icon="search" class="lt-sm"/>
    </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>

<style>
</style>
