<template>
  <q-page padding class="flex flex-center">
    <!-- content -->
    <login v-if="route == 'login'" />
    <mentee v-else-if="route == 'mentee'" />
    <mentor v-else-if="route == 'mentor'" />
    <organization v-else-if="route == 'organization'" />
    <forgotPassword v-else-if="route == 'forgotPassword'" />
    <resetPassword v-else-if="route == 'resetPassword'" />
  </q-page>
</template>  

<script>
import login from 'components/auth/login'
import mentee from 'components/auth/mentee'
import mentor from 'components/auth/mentor'
import organization from 'components/auth/organization'
import forgotPassword from 'components/auth/forgotPassword'
import resetPassword from 'components/auth/resetPassword'

export default {
  // name: 'PageName',
  data() {
    return {
      
    }
  },

  computed: {
    route: function(){ return this.$route.name }
  },

  components:{
    login, 
    mentee,
    mentor,
    organization,
    forgotPassword,
    resetPassword
  }
}
</script>

<style>
</style>
