<template>
  <q-page padding>
    <!-- content -->
    <exclusiveSession />
  </q-page>
</template>

<script>
import exclusiveSession from 'components/ExclusiveSession/index'
export default {
  // name: 'PageName',
  components:{
    exclusiveSession
  }
}
</script>

<style>
</style>
