<template>
  <q-page padding>
    <!-- content -->
    <follow :follows="follows" />
    {{ follows }}
  </q-page>
</template>

<script>
import follow from "../components/follow/index";
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'PageName',
  mixins: [requestMixin],
  data() {
    return {
      follows: null
    };
  },
  components: {
    follow
  },
  mounted() {
    this.getFollows();
  },

  methods: {
    async getFollows() {
      const endPoint = "/api/" + this.$route.name + "/";
      const res = await this.showRequest(endPoint, this.$route.params.slug);
      const data = res.data;
      this.follows = data.data;
    }
  }
};
</script>

<style>
</style>
