<template>
  <q-page>
    <div class="full-width text-right">
      <q-img src="statics/image/banner.png" style="max-width: 700px" />
    </div>

    <div class="q-px-lg q-mb-xl" style="margin-top: -75px">
      <div class="text-h5 text-primary">{{currentTime}}</div>
      <div class="text-h4">Welcome,</div>
      <div class="text-body1">Your success is 5minutes away!</div>
    </div>

    <q-separator spaced />

    <div class="row q-px-md">
      <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 text-right">
        <q-img src="statics/image/network.svg" style="max-width: 400px" />
      </div>
      <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
        <div class="text-body1" style="max-width: 400px">
          <span class="text-bold">5minutes</span> is a mentor-mentee platform where your mentors carry you through a
          controlled learning process, sharing contents on specific interests
          that can be consumed in no more than 5minutes.
        </div>

        <div class="text-body1" style="max-width: 400px">
          If you like straight-to-the-point learning on-the-go...
          <span
            class="text-bold"
          >This App is for you!</span>
        </div>
        <div class="q-py-lg">
          <q-btn no-caps color="primary" size="md" :to="{name: 'mentee'}" label="Get Started" />
        </div>
      </div>
    </div>

    <q-separator spaced />

    <div class="row q-py-lg q-pl-lg q-gutter-y-md">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 column q-gutter-sm text-body1">
        <div class="text-h5 text-primary text-bold">Why 5minutes?</div>
        <div>
          <span class="text-primary">01</span> Each content is straight to the point.
        </div>
        <div>
          <span class="text-primary">02</span> Articles are no more than 230 words.
        </div>
        <div>
          <span class="text-primary">03</span> Video contents are no more than 2mins, 30secs.
        </div>
        <div>
          <span class="text-primary">04</span> Variety of Interests to choose from.
        </div>
        <div>
          <span class="text-primary">05</span> You get to follow your favorite mentors and others too.
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 q-pl--lg q-gutter-y-sm">
        <div v-for="category in categories" :key="category.id">
          <div
            v-if="category.featured"
            class="shadow-2 bg-grey-8 row"
            style="border-top-left-radius: 110px; border-bottom-left-radius: 110px"
          >
            <q-avatar size="110px" class="q-mr-sm">
              <q-img :src="s3+'/interest/'+category.avatar" />
            </q-avatar>
            <div class="col flex flex-center text-white text-body1">
              <div class="text-bold">{{category.name}}</div>
              <div>{{category.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <q-separator spaced />

    <div class="row q-pa-lg q-gutter-y-md">
      <div class="col-12 text-h5 text-center">Testimonies</div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 q-px-md row flex-center column">
        <q-card class="bg-primary" style="max-width: 400px">
          <q-card-section class="q-pb-xl text-white">
            <div class="text-body1">
              Wonderful platform for learning through mentorship. Really had fun learning with my mentor.
              Thanks to 5minutes
            </div>
            <div class="text-bold text-center text-caption q-pa-sm">Kenny M</div>
          </q-card-section>
        </q-card>
        <div class="text-center" style="margin-top: -50px">
          <q-avatar size="100px">
            <q-img src="statics/image/isah.png" />
          </q-avatar>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 q-px-md row flex-center column">
        <q-card class="bg-primary" style="max-width: 400px">
          <q-card-section class="q-pb-xl text-white">
            <div class="text-body1">
              Wonderful platform for learning through mentorship. Really had fun learning with my mentor.
              Thanks to 5minutes
            </div>
            <div class="text-bold text-center text-caption q-pa-sm">Kenny M</div>
          </q-card-section>
        </q-card>
        <div class="text-center" style="margin-top: -50px">
          <q-avatar size="100px">
            <q-img src="statics/image/isah.png" />
          </q-avatar>
        </div>
      </div>
    </div>

    <q-separator spaced />

    <div class="flex flex-center no-wrap q-gutter-sm q-mb-lg">
      <q-img src="statics/image/store.png" style="max-width: 100px" />
      <div class="row">
        <div class="col-12 text-h6">Take 5minutes With You</div>
        <q-img src="statics/image/app-store.png" class="col-6" style="max-width: 130px" />
        <q-img src="statics/image/google-play.png" class="col-6" style="max-width: 130px" />
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { date } from "quasar";
export default {
  name: "PageIndex",
  data() {
    return {
      s3: process.env.s3
    };
  },

  computed: {
    categories: function() {
      return this.$store.getters["post/categories"];
    },
    currentTime() {
      let timeStamp = Date.now();
      let formattedString = date.formatDate(timeStamp, "HH:mm");
      return formattedString;
    }
  }
};
</script>
