<template>
  <q-page padding>
    <!-- content -->
    <interest :interest="categories" />
  </q-page>
</template>

<script>
import interest from "components/interest/index";
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'PageName',
  mixins: [requestMixin],

  components: {
    interest
  },

  computed: {
    categories: function() {
      return this.$store.getters["post/categories"];
    }
  }
};
</script>

<style>
</style>
