<template>
  <q-page padding>
    <invoices v-if="$route.name == 'invoices'"/>
    <invoice v-else-if="$route.name == 'invoice'"/>
    <invoices v-else/>
  </q-page>
</template>

<script>
import invoices from 'components/invoice/index'
import invoice from 'components/invoice/invoice'
export default {
  // name: 'PageName',

  components:{
    invoices, invoice
  }
}
</script>
