<template>
  <q-page padding>
    <!-- content -->
    <mentor :mentors="mentors" />
  </q-page>
</template>

<script>
import mentor from "components/mentor/index";
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'PageName',
  mixins: [requestMixin],
  data() {
    return {
      mentors: null
    };
  },
  components: {
    mentor
  },

  mounted() {
    this.getMentors();
  },

  methods: {
    async getMentors() {
      const endPoint = "/api/mentor";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.mentors = data.data;
    }
  }
};
</script>

<style>
</style>
