<template>
  <q-page padding class="bg-grey-4">
    <!-- content -->
    <profile />
  </q-page>
</template> 

<script>
import profile from 'components/profile/index'
export default {
  name: 'Profile',
  components:{
    profile
  }
}
</script>

<style>
</style>
