<template>
  <q-page padding>
    <!-- content -->
    
    <singleFeed :post="post"/>
  </q-page>
</template>

<script>
import { requestMixin } from "../components/mixins/ajaxMixins";
import singleFeed from 'components/feeds/singleFeed'
export default {
  // name: 'PageName',
  mixins: [requestMixin],
  props: ['post'],

  components:{
    singleFeed
  },

  mounted() {
    // this.getPost();
  },

  methods: {
    // async getPost(){
    //     const endPoint = '/api/post'
    //     const data = await this.getRequest(endPoint)
    //     const res = data.data
    //     this.$store.commit('post/posts', { data: res.data });
    // }
  },
}
</script>

<style>
</style>
