<template>
  <q-page padding>
    <!-- content -->
    <subscriber v-if="$route.name == 'subscribers'" />
    <subscriptions v-else-if="$route.name == 'subscriptions'" />
  </q-page>
</template>

<script>
import subscriber from 'components/subscription/subscriber'
import subscriptions from 'components/subscription/subscriptions'
export default {
  // name: 'PageName',
  components:{
    subscriptions, subscriber
  },
}
</script>

<style>
</style>
