<template>
  <q-page padding class="bg-grey-3">
    <!-- content -->
    <tasks />
  </q-page>
</template>

<script>
import tasks from 'components/tasks/index'
export default {
  name: 'Tasks',
  components: {
    tasks
  }
}
</script>

<style>
</style>
