<template>
  <q-page padding>
    <!-- content -->
    <subscriber />
  </q-page>
</template>

<script>
import subscriber from 'components/transaction/index'

export default {
  name: 'Transaction',
  components: {
    subscriber
  },
}
</script>

<style>
</style>
