<template>
  <div>
    <q-btn color="primary" label="Create Article" size="sm" @click="prompt = true" />

    <q-dialog v-model="prompt" class="full-height">
      <q-card style="min-width: 600px">
        <q-card-section class="q-pb-none">
          <q-bar class="bg-primary text-white q-pl-none text-h6">
            <q-btn
              no-caps
              size="md"
              class="text-h6 q-px-none"
              flat
              text-color="white"
              color="primary"
              icon="chevron_left"
              label="Create Article"
              v-close-popup
            />
          </q-bar>
        </q-card-section>

        <q-card-section class="q-py-none" align="right">
          <q-toggle color="green" v-model="form.is_premium" val="signed" label="Premium" />
        </q-card-section>

        <q-card-section class="row q-pt-none">
          <q-input class="col-xs-12 col-sm-6 col-md-6" v-model="form.title" label="Article Title" />
          <q-select
            class="col-xs-12 col-sm-6 col-md-6"
            v-model="form.interest"
            :options="options"
            emit-value
            label="Select Interest"
          />
        </q-card-section>

        <q-card-section>
          <q-editor
            v-model="form.content"
            toolbar-bg="secondary"
            toolbar-text-color="primary"
            :definitions="{bold: {tip: 'My bold tooltip'}}"
          />
        </q-card-section>

        <q-card-section>
          <q-uploader
            hide-upload-btn
            :url="url"
            method="post"
            field-name="data"
            style="max-width: 300px"
            :form-fields="[
                  {'name': 'post_id','value': this.media_form.post_id}
                ]"
            :headers="[
                { name: 'Authorization', value: 'Bearer '+this.$store.state.auth.token }
                ]"
            ref="uploadMedia"
          />
        </q-card-section>

        <q-card-actions align="center" class="full-width row">
          <!-- <q-btn
            no-caps
            label="Publish Date"
            color="secondary"
            text-color="primary"
            class="col-md-6"
          >
            <q-popup-proxy>
              <q-date v-model="form.published_at" color="secondary" text-color="primary" />
            </q-popup-proxy>
          </q-btn>-->

          <q-btn no-caps label="Publish Article" @click="save()" color="primary" class="col-md-5" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
import { log } from "util";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      prompt: false,
      form: {
        title: "",
        content: "",
        is_premium: false,
        interest: "",
        published_at: null,
        content_type: "article"
      },
      url: process.env.Api + "/api/media",
      options: [],
      media_form: {
        post_id: ""
      }
    };
  },

  mounted() {
    this.getInterest();
  },

  methods: {
    async getInterest() {
      const endPoint = "/api/interest";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      data.data.forEach(element => {
        this.options.push({
          value: element.category.id,
          label: element.category.name
        });
      });
    },

    async save() {
      this.form.title = await this.form.content;
      const endPoint = "/api/post";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      this.media_form.post_id = await data.data.id;
      await this.$refs.uploadMedia.upload();
      // await this.$refs.uploadMedia.upload();

      // const endPoint2 = "/api/post/";
      // const res2 = await this.showRequest(endPoint2, data.data.id);
      // const data2 = res.data;
      // this.$store.commit("post/post", { data: data2.data });
      // this.clear();
    },

    clear() {
      this.form.title = "";
      this.form.content = "";
      this.form.is_premium = false;
      this.form.interest = "";
      this.form.published_at = null;
      this.form.content_type = "article";
      this.media_form.post_id = "";
    }
  }
};
</script>

<style>
</style>
