<template>
  <div>
     <q-btn style="width: 100%" color="primary" filled icon-right="ion-add" label="Add Notes" @click="open = true" />

    <q-dialog v-model="open">
      <q-card style="width: 100%" class="text-center">
        <q-card-section class="q-py-sm">
          <div class="text-h6 text-positive "> Submit A Task</div>
        </q-card-section>

        <q-separator />
        <q-card-section class="q-gutter-sm">
          <q-input v-model="text" filled type="text" placeholder="Subject of Task"/>
          <q-input v-model="textarea" filled type="textarea" placeholder="Task Description"/>
          <div class="text-positive ">
            Deadline: 
            <q-input filled v-model="date">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date v-model="date" mask="YYYY-MM-DD HH:mm" />
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time v-model="date" mask="YYYY-MM-DD HH:mm" format24h />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </q-card-section>
        {{textarea}}
        <q-card-section class="q-gutter-sm">
            <q-btn color="primary" text-color="secondary" icon="ion-ios-cloud-upload" label="Upload File"/>
            <q-btn color="primary" text-color="secondary" icon="ion-ios-cloud-done" label="Submit" @click="()=>{ $emit('task_creator',{textarea: textarea, subject: text, deadline: date }); text = ''; textarea = '';}"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      open: false,
      text: '',
      textarea: '',
      date: '2019-02-01 12:44'
    }
  }
}
</script>

<style>
</style>
@click="()=>{ $emit('task_creator',{textarea: textarea, subject: text, deadline: date } ); text = ''; textarea = '';}