<template>
  <div>
      
      <div v-for="(item, index) in content" :key="index" @click="open = true">
        <q-item clickable v-ripple class="q-px-none" @click="val = item">
          <q-item-section avatar>
            <q-avatar  square>
                <q-img src="statics/image/isah.png" />
            </q-avatar>
          </q-item-section>
          
          <q-item-section >
            <q-item-label>{{item.head}}</q-item-label>
            <q-item-label caption lines="2">{{item.author}}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label caption>{{item.date}}</q-item-label>
            <q-btn size="sm" dense flat color="secondary" icon="ion-open" label="view"/>
          </q-item-section>
          
        </q-item>
        <q-separator />
      </div>

    <q-dialog v-model="open">
      <q-card square>
        <q-card-section class="row flex-center">
          <div class="row flex-center q-gutter-sm">
            <q-avatar size="100px" square>
                <q-img :src="val.image" />
            </q-avatar>
          <div class="text-primary">
              <div>Author: <span class="text-secondary">{{val.author}}</span></div>
              <div>Date: <span class="text-secondary">{{val.date}}</span></div>
              <div>Status: <span class="text-secondary">{{val.status}}</span></div>
          </div>
          </div>
          <q-space />
          <div>
              <div v-if="val.status == 'Submitted'" class="text-primary text-weight-bold">Passed</div>
              <div v-if="val.status == 'Not-Submitted'" class="text-grey-6">Deadline: {{val.deadline}}</div>
          </div>
          
        </q-card-section> 
        <q-card-section class="row">
          <div class="text-subtitle1">{{val.head}}</div>
          <div class="text-caption">{{val.body}}</div>
        </q-card-section> 
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      open: false,
      val:'',
      content: [
        {
          image: 'statics/image/isah.png',
          author: 'John Doe',
          date: '1st August 2019',
          status: 'Submitted',
          deadline: '1st August 2019',
          head: 'Hello World',
          body: 'Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents'
        },

        {
          image: 'statics/image/isah.png',
          author: 'Jane Doe',
          date: '2nd August 2019',
          status: 'Not-Submitted',
          deadline: '1st August 2019',
          head: 'New World',
          body: '  Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents mentors, follow them and subscribe to enjoy their PREMIUM Contents'
        }
      ],
    }
  }
}
</script>

<style>
</style>
