<template>
  <div>
    <div class="gt-sm row col">
        <div v-for="(item, index) in content" :key="index">
          <q-card class="q-mx-xs text-center">
            <q-card-section>
              <q-avatar size="100px">
                <q-img
                  :src="item.img"
                  spinner-color="primary"
                  spinner-size="82px"
                />
              </q-avatar>
            </q-card-section>

            <q-card-section>
              <div class="text-h6">{{item.name}}</div>
            </q-card-section>
            
              <q-btn color="secondary" text-color="primary" label="Following" no-caps  class="q-my-xs"/>
            <q-separator/>

            <q-card-section>
              <div class="text-caption">{{item.position}} | {{item.organization}}</div>
            </q-card-section>
          </q-card>
        </div>
      </div> 

      <div class="lt-md q-pa-none">
        
        <div v-for="(item, index) in content" :key="index">
          <q-item clickable v-ripple class="q-px-none" @click="val = item">
            <q-item-section avatar>
              <q-avatar  square>
                  <q-img :src="item.img" />
              </q-avatar>
            </q-item-section>
            
            <q-item-section side>
              <q-item-label>{{item.name}}</q-item-label>
              <q-item-label caption lines="2">{{item.position}} | {{item.organization}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator />
        </div>
        
      </div> 

    </div>
    
    
  
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      content: [
        {
          img: 'statics/image/isah.png',
          name: 'John Doe',
          position: 'Director',
          organization: 'Self Employed'
          },
         {
          img: 'statics/image/isah.png',
          name: 'John Doe',
          position: 'Director',
          organization: 'Self Employed'
          },
         {
          img: 'statics/image/isah.png',
          name: 'John Doe',
          position: 'Director',
          organization: 'Self Employed'
          }
      ]
    }
  }
}
</script>

<style>
</style>
