<template>
  <div>
    <div class="gt-sm row col">
        <div v-for="(item, index) in follows" :key="index">
          <q-card class="q-mx-xs text-center">
            <q-card-section>
              <avatar :src='item.followers.avatar' :name="item.followers.name"/>
            </q-card-section>
            <q-card-section>
              <div class="text-h6">{{item.followers.name}}</div>
              <!-- <div class="text-h6">{{item.name}}</div> -->
            </q-card-section>
            
              <q-btn color="secondary" text-color="primary" label="Following" no-caps  class="q-my-xs"/>
            <q-separator/>

            <q-card-section>
              <div class="text-caption">{{item.position}} | {{item.organization}}</div>
            </q-card-section>
          </q-card>
        </div>
      </div> 
      

      <div class="lt-md q-pa-none">
        
        <div v-for="(item, index) in follows" :key="index">
          <q-item clickable v-ripple class="q-px-none" @click="val = item">
            <q-item-section avatar>
              <q-avatar  square>
                  <q-img :src="item.img" />
              </q-avatar>
            </q-item-section>
            
            <q-item-section side>
              <q-item-label>{{item.name}}</q-item-label>
              <q-item-label caption lines="2">{{item.position}} | {{item.organization}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator />
        </div>
        
      </div>  

    </div>
    
    
  
</template>

<script>
import avatar from 'components/common/avatar.vue'
export default {
  // name: 'ComponentName',
  props: ['follows'],
  components:{
    avatar
  },
  data () {
    return {
      content: [
        {
          img: 'statics/image/isah.png',
          name: 'John Doe',
          position: 'Director',
          organization: 'Self Employed'
          },
         {
          img: 'statics/image/isah.png',
          name: 'John Doe',
          position: 'Director',
          organization: 'Self Employed'
          },
         {
          img: 'statics/image/isah.png',
          name: 'John Doe',
          position: 'Director',
          organization: 'Self Employed'
          }
      ]
    }
  },

  mounted() {
    // this.noAvatar(this.content[0])
  },

  

  methods: {
    noAvatar(item){

      var johntest = item.name.split(" ")
      var element='' ;
      for (var i = 0; i < johntest.length; i++) {
        element += johntest[i].charAt(0);
      }
      return element
    }
  },
}
</script>

<style>
</style>
