<template>
  <div>
    <div >
      <q-card class="q-pa-none">

        <q-card-section class="q-pa-none">
          <q-tabs v-model="tab" no-caps class="bg-secondary text-primary">
            <q-tab name="mentees" label="Mentees" />
            <q-tab name="mentors" label="Mentors" />
          </q-tabs>
        </q-card-section>

        <q-separator/>

        <q-tab-panels v-model="tab" animated class="q-pa-xs">
          <q-tab-panel name="mentees" class="q-pa-xs">
            <mentees />
          </q-tab-panel>

          <q-tab-panel name="mentors" class="q-pa-xs">
            <mentors />
          </q-tab-panel>
        </q-tab-panels>

      </q-card>
    </div> 
  </div>
    
    
</template>

<script>
import mentees from './partials/mentees'
import mentors from './partials/mentors'
export default {
  // name: 'ComponentName',
  components:{
    mentees, mentors
  },
  data () {
    return {
      tab: 'mentees',
    }
  }
}
</script>

<style>
</style>
