<template>
  <div>
      
    <q-btn size="sm" color="primary" :label="'Add '+type" class="full-width q-ma-xs" @click="prompt = true"/>  

    <q-dialog v-model="prompt">
      <q-card square>

        <q-bar>
          <q-icon name="network_wifi" />
          <!-- <q-icon name="network_cell" />
          <q-icon name="battery_full" /> -->
          <div>9:34</div>

          <q-space />

          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section class="q-gutter-sm">

           <q-input square dense outlined v-model="form.institution" label="Institution" />
           <q-input square dense outlined v-model="form.course" label="Course" />
           <q-input square dense outlined v-model="form.award" label="Award" />
           <q-input square dense type="date" outlined v-model="form.date_from" label="Date From" />
           <q-input square dense type="date" outlined v-model="form.date_to" label="Date To" />

           <q-btn color="primary" label="Add Education" class="full-width q-ma-xs" @click="save()"/>  

        </q-card-section>
       
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  props: ['type'],
  // name: 'ComponentName',
  mixins: [requestMixin],
  
  data () {
    return {
      prompt: false,
      form: {
        institution: "",
        course: '',
        award: '',          
        date_from: '', 
        date_to: '', 
        type: this.type,
        id: ''
      }
    }
  },

  mounted() {
    
  },

  methods: {
     async save(){
      try {
        const endPoint = '/api/achievement'
        const res = await this.postRequest(endPoint, this.form)
        const data = res.data
      } catch (error) {

      }

    },

  },
}
</script>

<style>
</style>
