<template>
    <q-expansion-item expand-separator label="Followers" expand-icon-toggle class="full-width">
        <q-markup-table flat square separator="cell" dense bordered>
            <thead>
                <tr>
                    <th class="text-left">Dessert (100g serving)</th>
                    <th class="text-right">Calories</th>
                    <th class="text-right">Fat (g)</th>
                    <th class="text-right">Carbs (g)</th>
                    <th class="text-right">Protein (g)</th>
                    <th class="text-right">Sodium (mg)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left">Frozen Yogurt</td>
                    <td class="text-right">159</td>
                    <td class="text-right">6</td>
                    <td class="text-right">24</td>
                    <td class="text-right">4</td>
                    <td class="text-right">87</td>
                </tr>
                <tr>
                    <td class="text-left">Ice cream sandwich</td>
                    <td class="text-right">237</td>
                    <td class="text-right">9</td>
                    <td class="text-right">37</td>
                    <td class="text-right">4.3</td>
                    <td class="text-right">129</td>
                </tr>
            </tbody>
        </q-markup-table>
    </q-expansion-item>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
}
</script>