<template>
    <div class="row flex-center q-gutter-sm">
        <div>Followers: {{ profile.posts_count }}</div>
        <div>Following: {{ profile.posts_count }}</div>
        <div>Post: {{ profile.posts_count }}</div>
        <!-- <div>Reads: 7</div> -->
        <div>Likes: {{ profile.likes_count }}</div>
        <!-- <div>Comments 0</div> -->
    </div>
</template>

<script>
export default {
    props:['profile'],
}
</script>