<template>
  <q-expansion-item expand-separator label="Work" expand-icon-toggle class="full-width">
    <q-markup-table flat square separator="cell" dense bordered>
      <thead>
        <tr>
          <th class="text-left">Institution</th>
          <th class="text-right">Corse</th>
          <th class="text-right">Award</th>
          <th class="text-right">From</th>
          <th class="text-right">To</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(achievement, index) in achievements" :key="achievement">
          <td class="text-left">{{achievement.institution}}</td>
          <td class="text-right">{{achievement.course}}</td>
          <td class="text-right">{{achievement.award}}</td>
          <td class="text-right">{{achievement.date_from}}</td>
          <td class="text-right">{{achievement.date_to}}</td>
        </tr>
      </tbody>
    </q-markup-table>
    <achievement v-if="owned" :type="'work'" />
  </q-expansion-item>
</template>

<script>
import achievement from "./achievement";
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  props: ["owned"],

  mixins: [requestMixin],

  data() {
    return {
      achievements: null
    };
  },

  components: {
    achievement
  },

  mounted() {
    this.getAchievement();
  },

  methods: {
    async getAchievement() {
      const endPoint = "/api/achievement/";
      const res = await this.showRequest(endPoint, "work");
      const data = res.data;
      this.achievements = data.data;
    }
  }
};
</script>
