<template>
  <q-list dense class="bg-secondary text-primary">
    <q-item clickable v-close-popup :to="{name: 'feed'}">
      <q-item-section>
        <q-item-label>feed</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'profile', params:{slug: '5minutes'}}">
      <q-item-section>
        <q-item-label>profile</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'mentors'}">
      <q-item-section>
        <q-item-label>Mentors</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'interest'}">
      <q-item-section>
        <q-item-label>Interest</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'tasks'}">
      <q-item-section>
        <q-item-label>tasks</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'subscribers'}">
      <q-item-section>
        <q-item-label>Subscribers</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'subscriptions'}">
      <q-item-section>
        <q-item-label>Subscriptions</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'invoices'}">
      <q-item-section>
        <q-item-label>Invoice</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'transaction'}">
      <q-item-section>
        <q-item-label>Transaction</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable v-close-popup :to="{name: 'exclusive-session'}">
      <q-item-section>
        <q-item-label class="text-caption">Exclussive Sessions</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />
    <q-item clickable @click="logout">
      <q-item-section>logout</q-item-section>
      <q-item-section side>
        <q-icon name="keyboard_arrow_right" />
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {};
  },

  methods: {
    logout() {
      this.$store.commit("auth/logout");
    }
  }
};
</script>

<style>
</style>
