<template>
  <q-item>
    <q-item-section avatar top>
      <q-item
        clickable
        v-ripple
        class="no-padding"
        :to="{name: 'profile', params:{slug: post.user.slug}}"
      >
        <avatar :src="'statics/image/isah.png'" :size="'50'" />
      </q-item>
    </q-item-section>

    <q-item-section>
      <q-item-label>
        <q-btn
          flat
          dense
          no-caps
          v-ripple
          :to="{name: 'profile', params:{slug: post.user.slug}}"
          :label="post.user.name"
        />
        <q-icon name="star" color />
      </q-item-label>
      <q-item-label caption lines="2">{{ post.ReadableDate }}</q-item-label>
    </q-item-section>

    <!-- <q-item-section v-if="post.user.status">
        <q-item-label caption class="text-grey-7">{{ post.user.status }}</q-item-label>
    </q-item-section>-->

    <!-- <q-space /> -->

    <q-item-section side>
      <div>
        <follow
          v-if="!post.owned_count"
          :id="post.user.id"
          :followed="post.user.followed.length ? true : false"
        />
        <cardMenu :post_id="post.id" :post_index="post_index" :owned="post.owned_count" />
      </div>
    </q-item-section>
  </q-item>
</template>
<script>
import avatar from "components/common/avatar";
import follow from "components/common/follow";
import cardMenu from "components/common/cardMenu";
export default {
  props: ["post", "post_index"],
  components: {
    avatar,
    follow,
    cardMenu
  }
};
</script>
