<template>
  <div>
    <q-card-section class="row q-gutter-md">
      <like :id="post.id" :type="'post'" :liked="post.liked_count" />
      <q-btn
        flat
        dense
        no-caps
        size="sm"
        :color="post.commented_count ? 'primary' : ''"
        icon="comment"
        @click="showComment = !showComment"
      />
      <!-- <share /> -->
      <bookmark :id="post.id" :bookmarked="post.bookmarked_count" />
      <q-space />
      <q-btn
        v-if="post.owned_count"
        flat
        dense
        no-caps
        size="sm"
        color="negative"
        icon="fas fa-clipboard"
        label="Assign Task"
      />

      <q-btn
        v-else
        flat
        dense
        no-caps
        size="sm"
        color="secondary"
        icon="fas fa-clipboard"
        label="View Task"
      />
    </q-card-section>

    <q-card-section v-if="showComment">
      <div v-if="route == 'feed'">
        <comment :post_id="post.id" :top_comments="post.comments" />
      </div>
      <div v-else>
        <comment :post_id="post.id" :top_comments="post.comments" />
      </div>
    </q-card-section>
  </div>
</template>
<script>
import like from "components/common/like";
import share from "components/common/share";
import bookmark from "components/common/bookmark";
import comment from "components/common/comment";
export default {
  props: ["post"],
  components: {
    like,
    share,
    bookmark,
    comment
  },
  data() {
    return {
      showComment: false
    };
  }
};
</script>
