<template>
  <div>
    <q-card square class="bg-secondary text-primary">
      <q-item>
        <q-item-section avatar class="q-pr-none">
          <q-avatar>
            <img src="statics/image/isah.png" />
          </q-avatar>
        </q-item-section>

        <q-item-section class="text-left" style="margin-left: -5px">
          <q-item-label>{{ user.name }}</q-item-label>
        </q-item-section>

        <q-space />

        <q-item-section side>
          <q-toggle color="green" v-model="form.is_signed" val="signed" label="Sign" />
        </q-item-section>
      </q-item>

      <q-card-section>
        <!-- input values below -->
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.content"
          type="textarea"
          autogrow
          label="Daily Inspiration"
        />
      </q-card-section>

      <q-card-section class="row">
        <q-btn color="primary" label="Post" size="sm" @click="save" :loading="loading" />
        <q-space />
        <q-btn color="primary" label="Create Article" size="sm" />
        <createArticle />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
import createArticle from "./createArticle";
export default {
  props: ["user"],
  // name: 'ComponentName',
  mixins: [requestMixin],
  components: {
    createArticle
  },
  data() {
    return {
      errors: [],
      loading: false,
      form: {
        content: "",
        is_signed: false
      }
    };
  },

  methods: {
    async save() {
      try {
        this.form.title = await this.form.content;
        const endPoint = "/api/post";
        const data = await this.postRequest(endPoint, this.form);
        const res = data.data;
        this.$store.commit("post/post", { data: res.data });
        this.clear();
      } catch (error) {}
    },

    clear() {
      this.form.name = "";
      this.form.email = "";
      this.form.password = "";
      this.form.password_confirmation = "";
    }
  }
};
</script>

<style>
</style>
