<template>
<div>
  <!-- <q-avatar :size="size ? size :'50' + 'px'">
    <img :src="src" />
  </q-avatar> -->
  <q-avatar v-if="src != 'avatar.png'" :size="size ? size :'50' + 'px'">
    <q-img  :src="src" spinner-color="primary" spinner-size="82px" />
  </q-avatar>
  <q-avatar v-if="src == 'avatar.png'" color="red" text-color="white"  >
    <div>{{noAvatar(name)}}</div>
  </q-avatar>
</div>
  
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ["size", "src", 'name'],

  data() {
    return {};
  },
  methods: {
    noAvatar(item){
      
      var johntest = item.split(" ")
      var element='' ;
      for (var i = 0; i < johntest.length; i++) {
        element += johntest[i].charAt(0);
      }
      return element
    }
  },
};
</script>
