<template>
  <q-btn
    flat
    dense
    no-caps
    :color="toggle ? 'primary' : ''"
    @click="bookmark()"
    size="sm"
    icon="fas fa-bookmark"
  />
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  props: ["id", "bookmarked"],
  mixins: [requestMixin],
  // name: 'ComponentName',
  data() {
    return {
      toggle: this.bookmarked
    };
  },

  methods: {
    async bookmark() {
      this.toggle ? (this.toggle = false) : (this.toggle = true);

      try {
        const endPoint = "/api/bookmark";
        const data = await this.postRequest(endPoint, { id: this.id });
        const res = data.data;
      } catch (error) {}
    }
  }
};
</script>
