<template>
  <q-btn flat icon="menu" color="secondary" dense>
    <q-menu>
      <q-list dense style="min-width: 100px">
        <q-item v-if="!owned" clickable v-close-popup @click="flag()">
          <q-item-section>Flag</q-item-section>
        </q-item>
        <q-item v-if="owned" clickable v-close-popup>
          <q-item-section>Edit</q-item-section>
        </q-item>
        <q-item v-if="owned" clickable v-close-popup>
          <q-item-section>Delete</q-item-section>
        </q-item>
        <!-- <q-separator />
        <q-item clickable v-close-popup>
          <q-item-section>Recent tabs</q-item-section>
        </q-item>
        <q-item clickable v-close-popup>
          <q-item-section>History</q-item-section>
        </q-item>-->
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script>
export default {
  props: ["post_id", "post_index", "owned"],
  // name: 'ComponentName',
  data() {
    return {};
  },

  methods: {
    async flag() {
      this.$store.commit("post/hide_post", this.post_index);
    }
  }
};
</script>
