<template>
  <div>
    <q-card flat square class="text-secondary q-pl-none">
      <q-item class="q-px-none">
        <q-item-section avatar class="q-px-none">
          <avatar :src="'statics/image/isah.png'" :size="35"/>
        </q-item-section>

        <q-item-section class="text-left" style="margin-left: -5px">
          <q-input @keydown="save" ref="textarea" dense rounded  outlined 
          v-model="form.content" placeholder="Add a comment">
            <template v-slot:append >
              <q-icon name="ion-happy" >
                <q-popup-proxy :breakpoint="600" @mousedown.prevent="toggleEmojiPicker">
                  <picker set="emojione" v-model="form.content" @select="addEmoji"/>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-item-section>

      </q-item>

      <div v-if="route == 'feed'">
        <q-item class="q-px-none" v-if="showComment == true">
          <q-item-section top avatar class="q-px-none">
            <avatar :src="'statics/image/isah.png'" :size="35"/>
          </q-item-section>

          <q-item-section  top class="text-left" style="margin-left: -5px">
            <q-item-label class="text-bold text-primary"> Me</q-item-label>
            <q-item class="q-px-none q-pt-none">
              <q-item-section class="text-left q-pt-none" style="margin-left: -5px">
                <div v-for="(comment, index) in comments" :key="index" >
                  <q-card flat class="bg-blue-grey-1 q-my-xs q-pa-sm">
                    <q-item-label > {{comment.content}}</q-item-label>
                    <q-item-label> 
                      <div class="text-right text-secondary" style="font-size:8px">
                        {{comment}}
                      </div> 
                    </q-item-label>
                  </q-card>
                  <div style="font-size:12px">
                    <q-btn flat label="Reply" @click="()=>{form.showReplyInput = !form.showReplyInput; replyer()}" no-caps /> 
                      <q-btn flat icon="favorite_border" @click="form.showfavorite = true" v-if="form.showfavorite == false"/>
                      <q-btn flat icon="favorite" text-color="red" @click="form.showfavorite = false" v-if="form.showfavorite == true"/></div> 
                      <!-- Reply Tab -->
                      <q-item class="q-px-none" v-if="form.showReplyInput == true">
                      <q-item-section avatar class="q-px-none">
                        <avatar :src="'statics/image/isah.png'" :size="35"/>
                      </q-item-section>

                      <q-item-section class="text-left" style="margin-left: -5px">
                        <q-input @keydown="postFunx2" ref="textarea" dense rounded  outlined v-model="form.content2" type="text" placeholder="Add a comment">
                          <template v-slot:append >
                            <q-icon name="ion-happy" >
                              <q-popup-proxy :breakpoint="600" @mousedown.prevent="toggleEmojiPicker">
                                <picker set="emojione" v-model="form.content" @select="addEmoji"/>
                              </q-popup-proxy>
                            </q-icon>
                          </template>
                        </q-input>
                      </q-item-section>
                    </q-item>
                    <q-item class="q-px-none" v-if="form.showReplyComment == true">
                      <q-item-section top avatar class="q-px-none">
                        <avatar :src="'statics/image/isah.png'" :size="35"/>
                      </q-item-section>

                      <q-item-section  top class="text-left" style="margin-left: -5px">
                        <q-item-label class="text-bold text-primary"> Me</q-item-label>
                        <q-item class="q-px-none q-pt-none">
                          <q-item-section class="text-left q-pt-none" style="margin-left: -5px">
                            <div v-for="(item, index) in form.pstContent" :key="index" >
                              <q-card flat class="bg-blue-grey-1 q-my-xs q-pa-sm">
                                <q-item-label > {{item}}</q-item-label>
                                <q-item-label> <div class="text-right text-secondary" style="font-size:8px">{{form.published_at}} at {{form.published_time}}</div> </q-item-label>
                              </q-card>
                              <div style="font-size:12px">
                                <q-btn flat label="Reply" @click="()=>{form.showReplyInput = !form.showReplyInput; replyer()}" no-caps /> 
                                  <q-btn flat icon="favorite_border" @click="form.showfavorite = true" v-if="form.showfavorite == false"/>
                                  <q-btn flat icon="favorite" text-color="red" @click="form.showfavorite = false" v-if="form.showfavorite == true"/></div> 
                            </div>
                          </q-item-section>
                        </q-item>
                      </q-item-section>
                    </q-item>
                </div>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
      </div>
      
                    
      
      <div v-if="route != 'feed'">
        <q-item class="q-px-none">
        <q-item-section top avatar class="q-px-none">
          <avatar :src="'statics/image/isah.png'" :size="35"/>
        </q-item-section>

        <q-item-section  top class="text-left" style="margin-left: -5px">
          <q-item-label class="text-bold text-primary"> Me</q-item-label>
          <q-item class="q-px-none q-pt-none">
            <q-item-section class="text-left q-pt-none" style="margin-left: -5px">
              <div v-for="(comment, index) in comments" :key="index" >
                <q-card flat class="bg-blue-grey-1 q-my-xs q-pa-sm">
                  <q-item-label > {{comment}} </q-item-label>
                  <q-item-label> 
                    <div class="text-right text-secondary" style="font-size:8px">
                      {{comment}}
                    </div> 
                  </q-item-label>
                </q-card>
              </div>

            </q-item-section>
          </q-item>
        </q-item-section>
      </q-item>
      </div>
      
      
    </q-card>
  </div>
</template>

<script>
import avatar from './avatar'
import { Picker } from 'emoji-mart-vue'
import { requestMixin } from "../mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  props:['post_id','top_comments'],
  mixins: [requestMixin],

  components:{
    avatar, Picker
  },

  data () {
    return {
      showEmojiPicker: false,
      showComment : true,
      comments: this.top_comments,
      form: {
        icon:['favorite_border','black','black'],
        showComment : false,
        showReplyInput: false,
        showReplyComment: false,
        showfavorite: false,
        title:'',
        content:'',
        content2:'',
        pstContent:[],
        pstContent2:[],
        is_signed: false,
        post_id: this.post_id,
        parent_id: '',
        published_at: (new Date().getFullYear()) +"/"+new Date().getMonth()+"/"+new Date().getDate(),
        published_time:" " + new Date().getHours() + ":" + new Date().getMinutes()
      },
    }
  },

  methods: {
    async save(event){
      if (event.keyCode === 13){
        const endPoint = '/api/comment'
        const res = await this.postRequest(endPoint, this.form)
        const data = res.data
        this.comments.push(data.data)
      }        
    },
    postFunx2(e){
      if (e.keyCode === 13) {
        this.form.pstContent2.push(this.form.content2)
        this.form.showReplyComment = true
        this.form.content = ''
      }

    },
    toggleEmojiPicker () {
      this.showEmojiPicker = !this.showEmojiPicker
    },

    addEmoji (emoji) {
      const textarea = this.$refs.textarea
      const cursorPosition = textarea.selectionEnd
      const start = this.value.substring(0, textarea.selectionStart)
      const end = this.value.substring(textarea.selectionStart)
      const text = start + emoji.native + end
      this.$emit('input', text)
      textarea.focus()
      this.$nextTick(() => {
        textarea.selectionEnd = cursorPosition + emoji.native.length
      })
    },

    replyer(){
      
      this.icon[2]='primary'; 
      console.log(icon[2])
    
    }
  },
  computed: {
    route: function(){return this.$route.name}
  },
}
</script>

<style>
</style>
