<template>
  <div>
    <!-- <q-btn label="Prompt" color="primary" @click="prompt = true" /> -->
    <q-btn color="primary" label="Create Article" size="sm" @click="prompt = true" />

    <q-dialog v-model="prompt" class="full-height">
      <q-card style="min-width: 600px">
        <q-card-section>
          <q-bar class="bg-primary text-white q-pl-none text-h6">
            <q-btn no-caps size="md" class="text-h6 q-px-none" flat text-color="white" color="primary" icon="chevron_left" label="Create Article" />
          </q-bar>
        </q-card-section>
        
        <q-card-section align="right">
          <q-toggle color="green" v-model="form.is_signed" val="signed" label="Premium"/>
        </q-card-section>

        <q-card-section class="row q-gutter-sm">
          <q-input class="col-md-6" v-model="text" label="Article Title" />
          <q-select class="col-md-5" v-model="model" :options="options" label="Select Interest" />
        </q-card-section>
        <q-card-section>
          <q-editor v-model="editor" toolbar-bg="secondary" toolbar-text-color="primary" :definitions="{bold: {tip: 'My bold tooltip'}}"/>
          <q-uploader color="secondary" text-color="primary" flat url="http://localhost:4444/upload" label="Add images" accept=".jpg, image/*" style="max-width: 200px"/>
        </q-card-section>
        

        <q-card-actions align="center" class="full-width row">
          <q-btn no-caps label="Publish Date" color="secondary" text-color="primary" class="col-md-6" >
            <q-popup-proxy>
              <q-date v-model="date" color="secondary" text-color="primary" />
            </q-popup-proxy>
          </q-btn>

          <q-btn no-caps label="Publish Article" color="primary" class="col-md-5" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      prompt: false,
      form: {
        content:'',
        is_signed:false,
      },
      model: 'Select Interest',
      options: [
        'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'
      ],
      date: '2019/02/01'
    }
  }
}
</script>

<style>
</style>
