<template>
  <q-btn
    color="primary"
    :outline="toggle ? true : false"
    :label="toggle ? 'Following': 'Follow'"
    @click="follow()"
    size="sm"
  />
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  props: ["id", "followed"],
  mixins: [requestMixin],
  // name: 'ComponentName',
  data() {
    return {
      toggle: this.followed
    };
  },

  methods: {
    async follow() {
      this.toggle ? (this.toggle = false) : (this.toggle = true);

      try {
        const endPoint = "/api/follow";
        const data = await this.postRequest(endPoint, { id: this.id });
        const res = data.data;
      } catch (error) {}
    }
  }
};
</script>
