<template>
  <q-btn
    flat
    dense
    no-caps
    :color="toggle ? 'primary' : ''"
    @click="like()"
    size="sm"
    icon="fas fa-thumbs-up"
  />
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  props: ["id", "type", "liked"],
  mixins: [requestMixin],
  // name: 'ComponentName',
  data() {
    return {
      toggle: this.liked
    };
  },

  methods: {
    async like() {
      this.toggle ? (this.toggle = false) : (this.toggle = true);

      try {
        const endPoint = "/api/like";
        const data = await this.postRequest(endPoint, {
          id: this.id,
          type: this.type
        });
        const res = data.data;
      } catch (error) {}
    }
  }
};
</script>
