<template>
  <div>
    <q-card square class="bg-secondary text-primary">
      <q-item>
        <q-item-section avatar class="q-pr-none">
          <avatar :src="'statics/image/isah.png'" />
        </q-item-section>

        <q-item-section class="text-left" style="margin-left: -5px">
          <q-item-label>{{ user.name }}</q-item-label>
        </q-item-section>

        <q-space />

        <q-item-section side>
          <q-toggle
            color="green"
            v-model="form.is_signed"
            @click="!form.is_signed"
            val="signed"
            label="Sign"
          />
        </q-item-section>
      </q-item>

      <q-card-section>
        <!-- input values below -->
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.content"
          type="textarea"
          autogrow
          label="Daily Inspiration"
        />
      </q-card-section>

      <q-card-section class="row">
        <q-btn color="primary" label="Post" size="sm" @click="save" :loading="loading" />
        <q-space />
        <!-- <q-btn color="primary" label="Create Article" size="sm" /> -->
        <createArticle />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
import avatar from "components/common/avatar";
import createArticle from "./partials/createArticle";
export default {
  props: ["user"],
  // name: 'ComponentName',
  mixins: [requestMixin],
  components: {
    createArticle,
    avatar
  },
  data() {
    return {
      errors: [],
      loading: false,
      form: {
        title: "",
        content: "",
        is_signed: false,
        published_at:
          new Date().getFullYear() +
          "/" +
          new Date().getMonth() +
          "/" +
          new Date().getDate()
      }
    };
  },

  methods: {
    async save() {
      try {
        this.form.title = await this.form.content;
        const endPoint = "/api/post";
        const res = await this.postRequest(endPoint, this.form);
        const data = res.data;
        this.$store.commit("post/post", { data: data.data });
        this.clear();
      } catch (error) {}
    },

    clear() {
      this.form.title = "";
      this.form.content = "";
      this.form.is_signed = false;
    }
  }
};
</script>

<style>
</style>
