<template>
  <div>
    <q-btn color="primary" label="subscribe" @click="prompt = true" />

    <q-dialog v-model="prompt">
      <q-card square class="q-px-none" style="min-width: 300px">
        <q-card-section class="text-center bg-secondary q-pb-none">
            <q-avatar size="100px" style="margin-bottom: -50px">
              <q-img src="statics/image/isah.png" />
            </q-avatar>
        </q-card-section>
        <q-card-section class="text-center full-width q-mt-xl  q-px-none q-pb-none">
          <div class="text-yellow q-pt-none" >{{ profile.name }}</div>
          <div class="q-px-none q-mx-none row full-width">
            
            <q-card square bordered flat class="q-px-none col-md-6" v-for="subscription_type in subscription_types" :key="subscription_type.id">
                <div class=""> {{ subscription_type.type }}</div>
                <div>
                  <q-badge color="yellow">
                    {{ subscription_type.name }}
                  </q-badge>
                </div>
                <div>
                  {{ subscription_type.currency_symbol }}
                  {{ subscription_type.price }}
                </div>

                <q-btn square no-caps class="full-width" @click="invoice(subscription_type)" color="primary" icon="check" label="Subscribe" />

            </q-card>

          </div>
            
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";
export default {
  props: ['profile'],
  // name: 'ComponentName',
  mixins: [requestMixin],
  
  data () {
    return {
      prompt: false,
      subscription_types: null,
      form: {
        subscribe_to: '',
        subscription_type_id: '',
        type: 'mentee-subscription',
        currency_symbol: '',
        currency: '',
        amount: '',
        charges: '',
      }
    }
  },

  mounted() {
    this.getSubscriptionTypes();
  },

  methods: {
     async getSubscriptionTypes(){
      try {
        const endPoint = '/api/subscription_type'
        const res = await this.getRequest(endPoint)
        const data = res.data
        this.subscription_types = data.data
      } catch (error) {

      }

    },

    async invoice(subscription_type) {
        this.form.subscribe_to = this.profile.id
        this.form.subscription_type_id = await subscription_type.id
        this.form.currency_symbol = await subscription_type.currency_symbol
        this.form.currency = await subscription_type.currency
        this.form.amount = await subscription_type.price
        this.form.charges = await subscription_type.charges

        const endPoint = '/api/invoice'
        const res = await this.postRequest(endPoint, this.form)
        const data = res.data
        this.$router.push({name: 'invoice', params:{ invoice_number: data.data.invoice_number }})
    }
  },
}
</script>

<style>
</style>
