<template>
  <div>
    <q-card >
      <q-card-section class="q-pa-none">
        <q-item>
          <q-item-section>
            <q-item-label caption>You have <span class="text-weight-bold text-grey-8">{{updated}}</span> tasks form this month</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label caption>Review Others</q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-separator />
    </q-card>
    
    <div v-for="(item, index) in result" :key="index">
      <q-card square>
        <q-card-section>
          <div class="text-bold text-primary text-center">Tasks/Question</div>
          <div class="row">
            <div class="text-subtitle1">{{Question.studentsTopic}}</div>
            <div class="text-caption">{{Question.menteesTask}}</div>
          </div>
          
        </q-card-section>
        <q-separator /><q-separator />
         <!--Answers  -->
        <q-card-section >
          <div class="text-bold text-primary text-center"> Answers/Solution</div>

          <div >
            <div class="row">
              <div class="column">
                <div><span class="text-caption text-primary">Mentees Name: </span>{{item.studentsName}} </div>
                <div><span class="text-caption text-primary">date: </span>{{item.timeOfPost}}</div>
              </div>

              <q-space />

              <q-avatar size="100px" square>
                  <q-img :src="item.image" />
              </q-avatar>  
            </div>
            
            <div><span class="text-caption text-primary">Body: </span>{{item.studentsBody}}</div>      
          </div>
              
          
          
          <div class="row" >
            <q-rating v-model="item.ratingModel" size="1.5em" :max="13" color="green-5" icon="star_border" icon-selected="star"/> 
            <q-space />
            <div class="text-bold text-h5">
              <div v-if="item.ratingModel+'0%' == '10%'" class="text-red">F</div>
              <div v-if="item.ratingModel+'0%' == '20%'" class="text-orange">D−</div>
              <div v-if="item.ratingModel+'0%' == '30%'" class="text-orange">D</div>
              <div v-if="item.ratingModel+'0%' == '40%'" class="text-orange">D+</div>
              <div v-if="item.ratingModel+'0%' == '50%'" class="text-orange-9">C−</div>
              <div v-if="item.ratingModel+'0%' == '60%'" class="text-orange-9">C</div>
              <div v-if="item.ratingModel+'0%' == '70%'" class="text-orange-9">C+</div>
              <div v-if="item.ratingModel+'0%' == '80%'" class="text-blue">B−</div>
              <div v-if="item.ratingModel+'0%' == '90%'" class="text-blue">B</div>
              <div v-if="item.ratingModel+'0%' == '100%'" class="text-blue">B+</div>
              <div v-if="item.ratingModel+'0%' == '110%'" class="text-green">A−</div>
              <div v-if="item.ratingModel+'0%' == '120%'" class="text-green">A</div>
              <div v-if="item.ratingModel+'0%' == '130%'" class="text-green">A+</div>
            </div>
            <q-space />
            
            <div @click="showNotif">
              <q-btn size="sm" dense flat color="secondary" icon="check" label="submit" @click="val = item"/>
            </div>
          </div>
          
          </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  props:['user', 'result', 'Question'],
  // name: 'ComponentName',
  data () {
    return {
      val: '',
      content: [
        {
          ratingModel: 3,
        },

        {
          ratingModel: 3,
        }
      ],
      updated: 14,
      
    }
  },

   methods: {
    showNotif () {
      this.$q.notify({
        message: this.val.head +' Submitted',
        color: '#3A3C45'
      })
    },
    
    
   },

   
}
</script>

<style>
</style>
