<template>
  <div>
    <q-card >
      <q-card-section class="q-pa-none">
        <q-item>
          <q-item-section>
            <q-item-label caption>You have <span class="text-weight-bold text-grey-8">{{updated}}</span> tasks form this month</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label caption>Review Others</q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-separator />
    </q-card>
    {{tasks}} 
    <div v-for="(item, index) in content" :key="index">
      <q-card square>
        <q-card-section class="row flex-center">
          <div class="row flex-center q-gutter-sm">
            <q-avatar size="100px" square>
                <q-img :src="item.image" />
            </q-avatar>
          <div class="text-primary">
              <div>Author: <span class="text-secondary">{{item.author}}</span></div>
              <div>Date: <span class="text-secondary">{{item.date}}</span></div>
              <div>Status: <span class="text-secondary">{{item.status}}</span></div>
          </div>
          </div>
          <q-space />
          <div>
              <div v-if="item.status == 'Submitted'" class="text-primary text-weight-bold">Passed</div>
              <div v-if="item.status == 'Not-Submitted'" class="text-grey-6">Deadline: {{item.deadline}}</div>
          </div>
          
        </q-card-section> 
        <q-card-section class="row">
          <div class="text-subtitle1">{{item.head}}</div>
          <div class="text-caption">{{item.body}}</div>
          <q-btn size="sm" no-caps text-color="primary" color="secondary" icon="ion-ios-create" label="Write Report" @click="item.assignment = !item.assignment"/>
          <q-space />
          
        </q-card-section> 
        
        <q-card-section v-if="item.assignment == true">
          <div class="text-bold text-primary row">
            Write Report 
            <q-space /> 
            <q-btn size="sm" flat no-caps text-color="primary" color="secondary" icon="ion-ios-attach" label="Attach Document">
              <q-popup-proxy>
                <q-card>
                  <q-uploader url="http://localhost:4444/upload" label="Upload files" color="secondary" text-color="primary" square flat multiple bordered style="max-width: 300px"/>
                </q-card>
              </q-popup-proxy>
            </q-btn>
            </div>
          <q-input v-model="item.text" filled type="textarea" placeholder="Write your Report here"/>
           <div @click="showNotif">
            <q-btn size="sm" no-caps text-color="primary" color="secondary" icon="ion-ios-done-all" class="q-mt-sm" label="Done" @click="()=>{ $emit('tab_changer', {studentsName: item.author, studentsTopic: item.head, menteesTask: item.body, studentsBody: item.text, timeOfPost: new Date(), image: item.image, ratingModel: 3}); $emit('tab_changer2', {studentsTopic: item.head, menteesTask: item.body}); item.status = 'Submitted';val = item; item.assignment = !item.assignment; item.text = '' }"/>
          </div>
          
          
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  props:['user','tasks'],
  // name: 'ComponentName',
  data () {
    return {
      val: '',
      content: [
        {
          image: 'statics/image/isah.png',
          author: 'John Doe',
          date: '1st August 2019',
          status: 'Not-Submitted',
          deadline: '1st August 2019',
          text:'',
          assignment: false,
          result:'',
          head: 'Hello World',
          body: 'Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents'
        },

        {
          image: 'statics/image/isah.png',
          author: 'John Doe',
          date: '1st August 2019',
          status: 'Not-Submitted',
          deadline: '1st August 2019',
          text:'',
          assignment: false,
          result:'',
          head: 'New World',
          body: '  Find your preferred mentors, follow them and subscribe to enjoy their PREMIUM Contents mentors, follow them and subscribe to enjoy their PREMIUM Contents'
        }
      ],
      updated: 14,
      
    }
  },

   methods: {
    showNotif () {
      this.$q.notify({
        message: this.val.head +' Submitted',
        color: '#3A3C45'
      })
    },

    results() { 
        var results = []; 
        results.push([item.author,item.head,item.text, new Date()]); 
        return results 
      }
   }
}
</script>

<style>
</style>
