<template>
  <div>
    <q-card square>
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
        >
          <q-tab name="notes" label="Notes" />
          <q-tab name="trends" label="Trends" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="notes" class="q-px-none">
            <expand @task_creator="()=>{tasks.push($event); $emit('task_creator', $event); console.log($event)}"/>
              {{tasks}}
            <submit/>
          </q-tab-panel>

          <q-tab-panel name="trends">
            <q-list>
              <div v-for="category in categories.slice(0, 5)" :key="category.id">
                <q-item clickable>
                  <q-item-section>
                    <q-item-label>{{ category.name }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator inset />
              </div>
            </q-list>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import expand from "./popups/expand";
import submit from "./popups/submit";
export default {
  // name: 'ComponentName',
  components: {
    expand,
    submit
  },
  data() {
    return {
      tab: 'notes',      
      updated: 14,
      tasks: [],
    }
  },
  computed: {
    categories: function() {
      return this.$store.getters["post/categories"];
    }
  }
};
</script>

<style>
</style>
