<template>
  <div id="q-app" style="background: #F0F0F0">
    <router-view />
  </div>
</template>

<script>
import { Loading, QSpinnerFacebook, LocalStorage } from "quasar";
export default {
  name: "App",
  preFetch({ store, redirect, axios }) {
    // initial loadingg effect
    // Loading.show({
    //       spinner: QSpinnerFacebook,
    //       spinnerSize: 100, // in pixels
    //       spinnerColor: 'white',
    //       customClass : 'bg-secondary',
    //  })
    store.dispatch("post/categories");
    if (LocalStorage.getItem("5minutes-token")) {
      store.dispatch("auth/user");
      store.dispatch("auth/unread_notification");
      store.dispatch("post/posts");
    }
  },
  created() {
    this.$q.addressbarColor.set("#52D972");
  }
};
</script>

<style>
</style>
