<template>
  <div>

    <q-item style="width: 100%" class="q-my-none q-py-none">
      <q-item-section class="col-7">
        <q-item-label>Transactions</q-item-label>
      </q-item-section>
        
      <q-item-section >
        <q-space />
        <div class="row justify-end ">
          <q-btn class="q-ma-xs text-right" size="sm" outline color="secondary" label="Subscribers" :to="{name: 'subscribers'}" />
          <q-btn class="q-ma-xs text-right" size="sm" outline color="secondary" label="Subscriptions" :to="{name: 'subscriptions'}" />
          <q-btn class="q-ma-xs text-right" size="sm" outline color="secondary" label="invoice" :to="{name: 'invoices'}" />
        </div>
      </q-item-section>
    </q-item>


    
    <mentorSubs :subscriptions="subscriptions"/>

    <q-separator />
    <q-separator />

    <BookSale :subscriptions="subscriptions"/>

    <q-separator />
    <q-separator />

    <Refer :subscriptions="subscriptions"/>

    <q-separator />
    <q-separator />

    <Session :subscriptions="subscriptions"/>

  </div>
</template>

<script>

import mentorSubs from '../transaction/partials/mentorSubs'
import BookSale from './partials/bookSale';
import Refer from './partials/referrerInc';
import Session from './partials/sessionSubs';
import { authRuleMixin } from "components/mixins/rulesMixins";
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [authRuleMixin, requestMixin],
  data () {
    return {
      subscriptions: null
    }
  },

  components:{
    mentorSubs, BookSale, Refer, Session
  },

   mounted() {
        this.getSubscribers();
    },

    methods: {
        async getSubscribers(){
            const endPoint = '/api/subscription/'
            const res = await this.showRequest(endPoint, 'suscribers')
            const data = res.data
            this.subscriptions = data.data
        }
    },
}
</script>
