

<template>
  <q-layout view="hHh lpR fFf">

    <q-header bordered class="bg-secondary text-primary">
      <q-toolbar class="flex justify-between">

        <div>
          <q-btn v-if="isLoggedIn"  flat dense round @click="left = !left" class="lt-sm">
            <q-avatar>
              <img src="statics/image/isah.png">
            </q-avatar>
          </q-btn>

          <q-toolbar-title class="gt-xs">
            <q-btn flat dense :to="{name: 'index'}">
              <q-avatar >
                  <img src="statics/app-logo-128x128.png">
                </q-avatar>
            </q-btn>
          </q-toolbar-title>
        </div>

        <search v-if="isLoggedIn && $route.name != 'index'" />

        <div class="row no-wrap">
          <div v-if="!isLoggedIn">
           <q-btn flat label="Login" :to="{ name: 'login' }"/>
           
           <q-btn-dropdown outline label="Sign Up">
              <q-list>
                <!-- mentee -->
              <q-item clickable v-close-popup :to="{name: 'mentee'}">
                <q-item-section>
                  <q-item-label>As Mentee</q-item-label>
                </q-item-section>
              </q-item>
                <!-- mentor -->
              <q-item clickable v-close-popup :to="{name: 'mentor'}">
                <q-item-section>
                  <q-item-label>As Mentor</q-item-label>
                </q-item-section>
              </q-item>
                <!-- organization -->
              <q-item clickable v-close-popup :to="{name: 'organization'}">
                <q-item-section>
                  <q-item-label>As Organization</q-item-label>
                </q-item-section>
              </q-item>

              </q-list>
           </q-btn-dropdown>
        </div>

          <div v-else>
            <q-btn no-caps dense flat :label="$q.screen.lt.md ? '' : 'Message'" icon="message"/>
            <q-btn no-caps dense flat :label="$q.screen.lt.md ? '' : 'Notifications'" icon="notifications" />
            <q-btn flat dense class="gt-xs">
              <q-avatar>
                  <img src="statics/image/isah.png">
                </q-avatar>

                <q-menu>
                  <menuItems />
                </q-menu>

            </q-btn>
          </div>

          <q-btn v-if="isLoggedIn"  dense flat round icon="menu" @click="right = !right" class="lt-sm"/>
        </div>
        
      </q-toolbar>
    </q-header>

    <q-drawer v-model="left" side="left" overlay behavior="mobile">
      <!-- drawer content -->
       <menuItems />
    </q-drawer>

    <q-drawer v-model="right" side="right" overlay behavior="mobile">
      <!-- drawer content -->
      <q-list>
        <q-item-label header>Essential Links</q-item-label>
        <q-item clickable tag="a" target="_blank" href="https://quasar.dev">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Docs</q-item-label>
            <q-item-label caption>quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <footerMain /> 

  </q-layout>
</template>

<script>
import menuItems from 'components/layout/menu/menuItem';
import search from 'components/layout/search'
import footerMain from 'components/layout/footer'
export default {
  data () {
    return {
      left: true,
      right: true,
    }
  },

  components:{
    menuItems, search, footerMain
  },

  computed: {
    isLoggedIn: function(){ return this.$store.getters['auth/isLoggedIn'] }
  },
}
</script>
