<template>
  <div>
    <q-expansion-item expand-separator icon="fas fa-store" label="Book Sales" expand-icon-toggle class="full-width">
       
      <q-markup-table separator="vertical" bordered>
        <thead>
          <tr>
            <th class="text-left">Subscriber</th>
            <th class="text-right">Subscription</th>
            <th class="text-right">Currency</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Date</th>
          </tr>
        </thead>
        <tbody v-for="(subscription) in subscriptions" :key="subscription.id">
          <tr class="text-secondary">
            <td class="text-left">{{subscription.user.name}}</td>
            <td class="text-right">{{subscription.subscription_type.name}}</td>
            <td class="text-right">
              {{ subscription.invoice.currency_symbol }} ({{ subscription.invoice.currency }})
            </td>
            <td class="text-right">{{subscription.start}}</td>
            <td class="text-right">{{subscription.end}}</td>
          </tr>
      </tbody>
      </q-markup-table>
    </q-expansion-item>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
   props: ['subscriptions'],
  data () {
    return {}
  }
}
</script>

<style>
</style>
