<template>
  <div class="flex flex-center">
   <q-card square class="bg-secondary text-center text-primary" style="width: 300px;max-width: 500px">
       <q-card-section class="text-center">
         <q-avatar size="50px">
            <img src="statics/app-logo-128x128.png">
        </q-avatar>
      </q-card-section>
      Forgot Password
      <q-separator color="primary" />
      <q-separator color="primary" />
      <q-card-section>
        <!-- input values below -->
        <q-input dense round dark outlined v-model="form.email" type="email" label="Email" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/>
      </q-card-section>
      <q-card-section>
         <q-btn color="primary" label="Send Reset link" rounded="" @click="reset" class="full-width" />
      </q-card-section>
      <q-card-section>
          <q-btn no-caps="" color="primary" flat label="Login" :to="{name: 'login'}"/>
      </q-card-section>
      <q-card-section >
          <q-btn no-caps="" color="negative" flat label="Google"/> |
          <q-btn no-caps="" color="info" flat label="facebook" />
      </q-card-section>
    </q-card>

  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";
import { authRuleMixin } from "../mixins/rulesMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin, authRuleMixin],

  data () {
    return {
      errors: [],
      form: {
        email: '',
      },
    }
  },

  methods: {
    async reset(){

      this.errors = [];
      if (!this.validEmail(this.form.email)) {
        this.errors.push('Valid email required.');
      }

     const endPoint = '/api/login'
      this.postRequest(endPoint,this.form)
    },

    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  },
}
</script>

<style>
</style>
