<template>
  <div class="row flex-center">
    <q-card square class="bg-secondary text-center text-primary" style="min-width: 300px">
      <q-card-section class="text-center">
        <q-avatar size="50px">
          <img src="statics/app-logo-128x128.png" />
        </q-avatar>
      </q-card-section>

      <q-separator color="primary" />
      <q-separator color="primary" />

      <q-card-section v-if="errors">
        <ul>
          <li v-for="error in errors" :key="error.id" class="text-left text-negative">{{ error }}</li>
        </ul>
      </q-card-section>
      <q-card-section>
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.email"
          type="email"
          label="Email"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
        <q-input
          dense
          round
          dark
          outlined
          type="password"
          v-model="form.password"
          label="Password"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type your password', val => val.length >= 6 || 'Please use minimum of 6 characters']"
        />
      </q-card-section>
      <q-card-section>
        <q-btn
          color="primary"
          label="Login"
          rounded
          @click="login"
          class="full-width"
          :loading="loading"
        />
      </q-card-section>
      <q-card-section>
        <q-btn no-caps color="primary" flat label="Sign Up" :to="{name: 'mentee'}" />|
        <q-btn no-caps color="primary" flat label="Forgot Password" :to="{name: 'forgotPassword'}" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";
import { authRuleMixin } from "../mixins/rulesMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin, authRuleMixin],

  data() {
    return {
      loading: false,
      errors: null,
      form: {
        email: "",
        password: ""
      }
    };
  },

  methods: {
    async login() {
      if (!this.validEmail(this.form.email)) {
        this.errors = [];
        this.errors.push("Valid email required.");
      }

      try {
        const endPoint = "/api/login";
        const data = await this.postRequest(endPoint, this.form);
        const res = data.data;
        await this.$store.commit("auth/login", {
          data: res.data,
          token: res.access_token
        });
        this.$store.dispatch("post/posts");
        this.$router.go({ name: "feed" });
        this.clear();
      } catch (error) {}
    },

    clear() {
      this.form.email = "";
      this.form.password = "";
    }
  }
};
</script>

<style>
</style>
