<template>
  <div class="flex flex-center">
    <q-card square class="bg-secondary text-center text-primary" style="max-width: 500px">
      <q-card-section class="text-center">
        <q-avatar size="50px">
          <img src="statics/app-logo-128x128.png" />
        </q-avatar>
      </q-card-section>

      <!-- popup for mentee -->
      <menteeNote />

      <q-separator color="primary" />
      <q-separator color="primary" />

      <q-card-section v-if="errors">
        <ul>
          <li v-for="error in errors" :key="error.id" class="text-negative">{{ error }}</li>
        </ul>
      </q-card-section>

      <q-card-section class>
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.name"
          label="Full Name"
          lazy-rules
          :rules="[ textRule ]"
        />
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.email"
          label="Email"
          type="email"
          lazy-rules
          :rules="[ textRule ]"
        />
        <q-input
          dense
          round
          dark
          outlined
          type="password"
          v-model="form.password"
          label="Password"
          lazy-rules
          :rules="[ textRule, textLengthRule]"
        />
        <q-input
          dense
          round
          dark
          outlined
          type="password"
          v-model="form.password_confirmation"
          label="Confirm Password"
          bottom-slots
          :error="!isValid"
          error-message="This doesn't match your password"
        />
      </q-card-section>
      <q-card-section class="row flex-center">
        <div>By signing up you agree to 5minutes</div>
        <q-btn flat no-caps color="grey-5" label="Terms & Conditions" />
      </q-card-section>
      <q-card-section>
        <q-btn
          color="primary"
          label="Create Account"
          rounded
          @click="signup"
          class="full-width"
          :loading="loading"
        />
      </q-card-section>
      <q-card-section class="row flex-center">
        <div class="primary">Already Registered ?</div>
        <q-btn no-caps color="grey-5" flat label="Login" :to="{name: 'login'}" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";
import { authRuleMixin } from "../mixins/rulesMixins";
import menteeNote from "./partials/popups/mentee";

export default {
  // name: 'ComponentName',
  mixins: [requestMixin, authRuleMixin],

  data() {
    return {
      loading: false,
      errors: null,
      form: {
        name: "",
        email: "",
        password: "",
        password_confirmation: ""
      }
    };
  },

  components: {
    menteeNote
  },

  methods: {
    async signup() {
      if (!this.validEmail(this.form.email)) {
        this.errors = [];
        this.errors.push("Valid email required.");
      }
      try {
        const endPoint = "/api/signup";
        const data = await this.postRequest(endPoint, this.form);
        const res = data.data;
        console.log(res);

        this.$store.commit("auth/login", {
          data: res.data,
          token: res.access_token
        });
        var checker = localStorage.getItem("5minutes-token");
        console.log(checker);
        this.$store.dispatch("post/posts");
        this.$router.go({ name: "feed" });
        this.clear();
      } catch (error) {}
    },

    clear() {
      this.form.name = "";
      this.form.email = "";
      this.form.password = "";
      this.form.password_confirmation = "";
    }
  }
};
</script>

<style>
</style>
i
