<template>
  <div class="flex flex-center">
    <q-card square class="bg-secondary text-center text-primary" style="max-width: 500px">
      <q-card-section class="text-center">
        <q-avatar size="50px">
          <img src="statics/app-logo-128x128.png" />
        </q-avatar>
      </q-card-section>

      <mentorNote />

      <q-separator color="primary" />
      <q-separator color="primary" />

      <q-card-section class="q-gutter-xs">
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.referral_code"
          label="Referral Code"
          lazy-rules
          :rules="[ textRule, textLengthRule]"
        />
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.phone"
          label="Phone Number"
          lazy-rules
          :rules="[ textRule, textLengthRule1]"
        />
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.name"
          label="Full Name"
          lazy-rules
          :rules="[ val => textRule]"
        />
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.facebook_username"
          label="Facebook username"
          lazy-rules
          :rules="[ textRule]"
        />
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.linkedIn_username"
          label="LinkedIn username"
          lazy-rules
          :rules="[ textRule]"
        />
        <q-input
          dense
          round
          dark
          outlined
          v-model="form.twitter_username"
          label="twitter username"
          lazy-rules
          :rules="[ textRule]"
        />
        <q-input
          dense
          round
          dark
          outlined
          type="password"
          v-model="form.password"
          label="Password"
          lazy-rules
          :rules="[ textRule, textLengthRule]"
        />
        <q-input
          dense
          round
          dark
          outlined
          type="password"
          v-model="form.password_confirmation"
          label="Confirm Password"
          bottom-slots
          :error="!isValid"
          error-message="This doesn't match your password"
        />
      </q-card-section>
      <q-card-section>
        <div>
          By signing up you agree to 5minutes
          <span class="cursor-pointer text-grey" @click="popUp2">Terms & Conditions</span>
        </div>
      </q-card-section>
      <q-card-section>
        <q-btn color="primary " label="Create Account" rounded @click="signup" class="full-width" />
      </q-card-section>
      <q-card-section>
        <div class="primary">Already Registered ?</div>
        <q-btn no-caps class="text-grey" flat label="Login" :to="{name: 'login'}" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";
import { authRuleMixin } from "../mixins/rulesMixins";
import mentorNote from "./partials/popups/mentor";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin, authRuleMixin],

  data() {
    return {
      form: {
        referral_code: "",
        phone: "",
        facebook_username: "",
        linkedIn_username: "",
        twitter_username: "",
        name: "",
        password: "",
        password_confirmation: "",
        is_mentor: true
      }
    };
  },

  components: {
    mentorNote
  },

  methods: {
    async signup() {
      if (!this.validEmail(this.form.email)) {
        this.errors = [];
        this.errors.push("Valid email required.");
      }
      try {
        const endPoint = "/api/signup";
        const data = await this.postRequest(endPoint, this.form);
        const res = data.data;
        console.log(res);

        this.$store.commit("auth/login", {
          data: res.data,
          token: res.access_token
        });
        // error checker for localstorage also in store/auth/mutation.js
        var checker = localStorage.getItem("5minutes-token");
        console.log(checker);
        // +++++++++++
        this.$store.dispatch("post/posts");

        this.$router.go({ name: "feed" });
        this.clearForm();
      } catch (error) {}
    },

    clearForm() {
      this.form.referral_code = "";
      this.form.phone = "";
      this.form.facebook_username = "";
      this.form.linkedIn_username = "";
      this.form.twitter_username = "";
      this.form.name = "";
      this.form.password = "";
      this.form.password_confirmation = "";
    }
  },

  computed: {}
};
</script>

<style>
</style>
