<template>
  <div class="flex flex-center">

    <q-card square class="bg-secondary text-center text-primary " style="max-width: 600px">
       <q-card-section class="text-center">
         <q-avatar size="50px">
            <img src="statics/app-logo-128x128.png">
        </q-avatar>
      </q-card-section>

      <organizationNote />

      <q-separator color="primary" />
      <q-separator color="primary" />

      <q-card-section v-if="errors">
        <ul>
          <li v-for="error in errors" :key="error.id" class="text-negative">{{ error }}</li>
        </ul>
      </q-card-section>

      <q-card-section class="row">
        <q-input dense round dark outlined v-model="form.name_organization" label="Name of Organization" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule, textLengthRule ]"/>
        <q-input dense round dark outlined v-model="form.organization_email" label="Email of Organization" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule ]"/>
        <q-input dense round dark outlined v-model="form.organization_website" label="Website of Organization" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule, textLengthRule1]"/>
        <q-input dense round dark outlined v-model="form.organization_address" label="Address of Organization" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule, textLengthRule]"/>
        <q-input dense round dark outlined v-model="form.phone" label="Phone Number" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule, textLengthRule1]"/>
        <q-input dense round dark outlined v-model="form.contact_name" label="Contact Persons Full Name" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule]"/>
        <q-input dense round dark outlined v-model="form.email" label="Contact Persons Email" type="email" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule]"/>
        <q-input dense round dark outlined v-model="form.facebook_username" label="Facebook link/username" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule]"/>
        <q-input dense round dark outlined v-model="form.twitter_username" label="twitter link/username" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule]"/>
        <q-input dense round dark outlined v-model="form.linkedIn_username" label="LinkedIn link/username" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule]"/>
        <q-input dense round dark outlined type="password" v-model="form.password" label="Password" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
        lazy-rules :rules="[ textRule, textLengthRule]"/>
        <q-input dense round dark outlined type="password" v-model="form.password_confirmation" label="Confirm Password" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
         bottom-slots :error="!isValid" error-message="This doesn't match your password"/>
      </q-card-section>
       <q-card-section>
         <div>By signing up you agree to 5minutes <span class="cursor-pointer text-grey" @click="popUp2">Terms & Conditions</span></div>
      </q-card-section>
      <q-card-section>
         <q-btn color="primary " label="Create Account" rounded="" @click="signup" :loading="loading" class="full-width"/>
      </q-card-section>
      <q-card-section >
          <div class="primary">Already Registered ? </div>
          <q-btn no-caps="" class="text-grey"  flat label="Login" :to="{name: 'login'}"/>
      </q-card-section>
    </q-card>

  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";
import { authRuleMixin } from "../mixins/rulesMixins";
import organizationNote from './partials/popups/organization';
export default {
  // name: 'ComponentName',
  mixins: [requestMixin, authRuleMixin],

  data () {
    return {
      loading: false,
      errors: null,
      form: {
        name_organization: '',
        organization_email: '',
        organization_website: '',
        organization_address: '',
        phone: '',
        contact_name: '',
        email: '',
        facebook_username: '',
        linkedIn_username: '',
        twitter_username: '',
        name: '',
        password: '',
        password_confirmation: '',
        is_mentor: true,
        is_organization: true
      },
    }
  },

  components:{
    organizationNote
  },

  methods: {
    async signup(){
      if (!this.validEmail(this.form.email)) {
        this.errors = [];
        this.errors.push('Valid email required.');
      }
      try{
        const endPoint = '/api/signup'
        this.postRequest(endPoint,this.form)
        this.clearForm();
      }
      catch (error) {}
      
    },

    clearForm(){
        this.form.name_organization = '';
        this.form.organization_email = '';
        this.form.organization_website = '';
        this.form.organization_address = '';
        this.form.phone = '';
        this.form.contact_name = '';
        this.form.email = '';
        this.form.facebook_username = '';
        this.form.linkedIn_username = '';
        this.form.twitter_username = '';
        this.form.name = '';
        this.form.password = '';
        this.form.password_confirmation = '';
    }
  },

  computed: {
    
  }
}
</script>

<style>
</style>
<!--


        <q-input dense round dark outlined type="password" v-model="form.password" label="Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your password', val => val.length >= 6 || 'Please use minimum of 6 characters']"/>
        <q-input dense round dark outlined type="password" v-model="form.password_confirmation" label="Confirm Password" bottom-slots :error="!isValid" error-message="This doesn't match your password"/>
  -->
