<template>
  <div class="flex flex-center">
   <q-card square class="bg-secondary text-center text-primary" style="width: 300px;max-width: 500px">
       <q-card-section class="text-center">
         <q-avatar size="50px">
            <img src="statics/app-logo-128x128.png">
        </q-avatar>
      </q-card-section>
      Reset Password
      <q-separator color="primary" />
      <q-separator color="primary" />
      <q-card-section>
        <!-- email error validation message -->
        <div v-if="errors.length">
          <p v-for="(error, index) in errors" :key="index" class="text-caption text-left text-negative">{{ error }}</p>
        </div>
        <!-- input values below -->
        <q-input dense round dark outlined v-model="form.email" type="email" label="Email" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/>
        <q-input dense round dark outlined type="password" v-model="form.password" label="Password"  lazy-rules :rules="[ textRule, textLengthRule]"/>
        <q-input dense round dark outlined type="password" v-model="form.password_confirmation" label="Confirm Password" bottom-slots :error="!isValid" error-message="This doesn't match your password"/>
      </q-card-section>
      <q-card-section>
         <q-btn color="primary" label="Submit" rounded="" @click="reset" class="full-width" />
      </q-card-section>
      <q-card-section>
          <q-btn no-caps="" color="primary" flat label="Login" :to="{name: 'login'}"/>|
          <q-btn no-caps="" color="primary" flat label="Sign Up" :to="{name: 'mentee'}"/>
      </q-card-section>
       <q-card-section >
          <q-btn no-caps="" color="negative" flat label="Google"/> |
          <q-btn no-caps="" color="info" flat label="facebook" />
      </q-card-section>
    </q-card>

  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],

  data () {
    return {
      errors: [],
      form: {
        email: '',
        password: '',
        password_confirmation: ''
      },
    }
  },

  methods: {
    async reset(){

      this.errors = [];
      if (!this.validEmail(this.form.email)) {
        this.errors.push('Valid email required.');
      }

     const endPoint = '/api/login'
      this.postRequest(endPoint,this.form)
    },

    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  },
}
</script>

<style>
</style>
