<template>
  <div>
    <q-btn no-caps class="fit q-px-xs" color="primary" label="Make Payment" @click="prompt = true" />

    <q-dialog v-model="prompt">
      <q-card square class="q-px-none" style="min-width: 300px">
        <q-bar class="bg-white q-py-lg q-pl-none text-h6">
          <q-btn
            no-caps
            size="md"
            class="text-black text-h6 q-px-none"
            flat
            text-color="white"
            color="primary"
            icon="chevron_left"
            label="Payment Details"
            v-close-popup
          />
        </q-bar>

        <q-separator />5531 8866 5214 2950
        <br />cvv 564
        <br />Expiry: 09/22
        <br />Pin 3310
        <br />otp 12345
        <br />

        <q-card-section dark class="row bg-secondary">
          <q-input
            dense
            outlined
            dark
            v-model="form.cardno"
            label="Card"
            mask="################"
            hint="0000 0000 0000 0000"
            class="full-width"
          />
          <q-input
            dense
            outlined
            dark
            v-model="form.expirymonth"
            label="Exp Month"
            mask="##"
            hint="09"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />
          <q-input
            dense
            outlined
            dark
            v-model="form.expiryyear"
            label="Exp Year"
            mask="##"
            hint="2020"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />
          <q-input
            dense
            outlined
            dark
            v-model="form.cvv"
            label="CVV"
            mask="###"
            hint="123"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />
          <q-input
            dense
            outlined
            dark
            v-model="form.pin"
            label="Card PIN"
            mask="####"
            hint="1234"
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-px-xs"
          />
        </q-card-section>

        <q-card-section class="q-my-sm">
          <q-btn
            text-color="secondary"
            color="primary"
            icon="check"
            :label="currency_symbol + ' ' + form.amount + ' Pay Now'"
            class="full-width"
            @click="makePayment()"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";

export default {
  // name: 'ComponentName',
  props: ["total", "currency_symbol"],
  mixins: [requestMixin],

  data() {
    return {
      prompt: false,
      form: {
        cardno: "",
        expirymonth: "",
        expiryyear: "",
        cvv: "",
        pin: "",
        country: "NG",
        currency: "NGN",
        amount: this.total,
        IP: "",
        txRef: "",
        meta: "",
        suggested_auth: "",
        device_fingerprint: ""
      },

      otp_form: {
        flwRef: "",
        otp: "",
        invoice_number: ""
      }
    };
  },

  methods: {
    async makePayment() {
      this.form.txRef = await new Date().valueOf();
      const endPoint = "/api/payment/pay";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      if (data.status == "success") {
        this.otp_form.flwRef = data.data.flwRef;
        this.otp_form.invoice_number = this.$route.params.invoice_number.substr(
          1
        );
        this.form.txRef = data.data.txRef;

        this.$q.notify({
          color: "primary",
          message: data.data.chargeResponseMessage,
          position: "bottom-left"
        });

        if (data.data.chargeResponseCode == "02") {
          this.getOTP();
        } else if (data.data.chargeResponseCode == "00") {
          this.verify_payment();
        } else {
          this.$q.notify({
            color: "negative",
            message: "Payment Error: Please Contact Support",
            position: "bottom-left"
          });
        }
      }
    },

    getOTP() {
      this.$q
        .dialog({
          dark: true,
          title: "OTP",
          message: "Please Enter OTP Sent ot Your Phone/Email?",
          prompt: {
            model: "",
            type: "number" // optional
          },
          cancel: true,
          persistent: true
        })
        .onOk(data => {
          this.validate_OTP(data);
        })
        .onCancel(() => {
          this.$q.notify({
            color: "negative",
            message:
              "In-complet Payment: Please Go To  Invoice And Complet Your Payment",
            position: "bottom-left"
          });
        })
        .onDismiss(() => {});
    },

    async validate_OTP(otp) {
      this.otp_form.otp = await otp;
      const endPoint = "/api/payment/validate";
      const res = await this.postRequest(endPoint, this.otp_form);
      const data = res.data;
      if (data.status == "success") {
        this.verify_payment();
      }
    },

    async verify_payment() {
      const endPoint = "/api/payment/verify";
      const res = await this.postRequest(endPoint, {
        txRef: this.form.txRef,
        invoice_number: this.$route.params.invoice_number.substr(1)
      });
      const data = res.data;
      if (data.status == "success") {
        this.subscribe_user();
      }
    },

    async subscribe_user() {
      const endPoint = "/api/subscription";
      const res = await this.postRequest(endPoint, {
        invoice_number: this.$route.params.invoice_number.substr(1)
      });
      const data = res.data;
      this.$q.notify({
        color: "primary",
        message: "Subscription success",
        position: "bottom-left"
      });
      this.clear();
    },

    clear() {
      this.form.cardno = "";
      this.form.expirymonth = "";
      this.form.expiryyear = "";
      this.form.cvv = "";
      this.form.pin = "";
      this.form.country = "NG";
      this.form.currency = "NGN";
      this.form.amount = this.total;
      this.form.IP = "";
      this.form.txRef = "";
      this.form.meta = "";
      this.form.suggested_auth = "";
      this.form.device_fingerprint = "";

      this.otp_form.flwRef = "";
      this.otp_form.otp = "";
      this.otp_form.invoice_number = "";

      this.prompt = false;
    }
  }
};
</script>

<style>
</style>
