<template>
  <div>
    
    <q-dialog v-model="prompt">
      
      <q-card square class="q-px-none " style="min-width: 300px">
        <q-bar class="bg-white q-py-lg q-pl-none text-h6">
          <q-btn  no-caps size="md" class="text-black text-h6 q-px-none" flat text-color="white" color="primary" icon="chevron_left" label="Payment Details" v-close-popup />
        </q-bar>
        

        <q-separator />

        otp 12345 <br>

        <q-card-section dark class="row bg-secondary">
          <q-input dense outlined dark v-model="form.otp" label="OTP" mask="#####"  hint="12345" class="col-12 q-px-xs"/>         
        </q-card-section>

        <q-card-section class="q-my-sm">
            <q-btn text-color="secondary" color="primary" icon="check" label="Validate OTP" class="full-width" @click="validatePayment()"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "../mixins/ajaxMixins";

export default {
  // name: 'ComponentName',
  props:['transaction_reference','invoice_id'],
  mixins: [requestMixin],

  data () {
    return {
      prompt: false,
      form: {
        transaction_reference: '',
        otp: '',
        invoice_id: '',
      },
    }
  },

  methods: {
     async validatePayment(){
      const endPoint = '/api/payment/pay'
      const res = await this.postRequest(endPoint, this.form)
      const data = res.data
    },
  },
}
</script>

<style>
</style>
